[2019-09-08 23:14] revodavid opened #39 "Error while installing azureml: "Your current architecture is 32bit""
**Describe the bug**
While following the instructions in README.md to install the azureml package, the install fails with the error `Your current architecture is 32bit however this version of Python is compiled for 64bit`.

**To Reproduce**
Install azureml with:
[code]

This is the output I get. I am using a 64-bit version of R from RStudio, and the 64-bit Python Anaconda version.
[code]

**Expect

[2019-09-08 23:51] revodavid opened #40 "azureml SDK for Python is a prerequesite"
**Describe the bug**
I haven't verified this, but I assume the azureml Python SDK is a prerequsite.

**To Reproduce**
Try installing and using this package without the Python SDK installed.

**Expected behavior**
The README.md file should document this prerequisite.

[2019-09-10 16:46] revodavid opened #41 "Warning: 'gpu_support' is no longer necessary"
**Describe the bug**

Frequently seeing warnings like this:
[code]
Sometimes multiple instances of the warning appear for a single command.

**To Reproduce**
For example, running samples/training/train-with-tensorflow/train-with-tensorflow.R:

[code]

**Expected behavior**
Since the R user isn't passing in `gpu_support` directly, this warning should be suppressed.

**Additional context**
I assume

[2019-09-10 23:41] #40 closed, assigned to nobody

[2019-09-17 21:13] #39 closed, assigned to nobody

[2019-09-20 14:41] omartin2010 opened #61 "Unable to install the azureml sdk for R"
**Describe the bug**
When I try installing the package using :
`remotes::install_github('https://github.com/Azure/azureml-sdk-for-r', auth_token = 'rppo2tmxykypkkyjklrzbzyzwtnuwzpvpekafh7my5lf65ynydva',INSTALL_opts=c("--no-multiarch"), build_vignettes = FALSE)`

I get this
`
Error: Failed to install 'unknown package' from GitHub:
  cannot open URL 'http://api.github.com/repos/Azure/azureml-sdk-for

[2019-09-20 18:00] #61 closed, assigned to nobody

[2019-10-01 16:44] #41 closed, assigned to nobody

[2019-10-03 17:26] ninghu opened #85 "load_workspace_from_config() is unable to load workspace from notebook VM"
**Describe the bug**
load_workspace_from_config() is unable to load workspace from notebook VM

**To Reproduce**

Error in py_call_impl(callable, dots$args, dots$keywords) :
  UserErrorException: UserErrorException:
	Message: We could not find config.json in: /home/azureuser/azureml-sdk-for-r/samples/training/train-on-amlcompute or in its parent directories. Please provide the full path to the con

[2019-10-03 17:59] ninghu opened #86 "view_run_details(run) throw exception Error in parse_iso_8601(details$endTimeUtc)"
**Describe the bug**
view_run_details(run) throw exception Error in parse_iso_8601(details$endTimeUtc)

**To Reproduce**
After run is completed, run )

Error in parse_iso_8601(details$endTimeUtc) :
  could not find function "parse_iso_8601"

**Expected behavior**
The widget should be refreshed in Viewer pane without error.

**Screenshots**
If applicable, add screenshots to help explain your proble

[2019-10-03 22:54] swinner95 opened #89 "Issue when Copy the URL and change domain name to include RStudio Server port number 8787"
**Describe the bug**
when doing this step in both Edge and Chrome, I get the error below:

![image](https://user-images.githubusercontent.com/43390034/66169613-ded8a900-e5f5-11e9-8ea7-93f0d31ccbae.png)

**Screenshots**
![image](https://user-images.githubusercontent.com/43390034/66169576-bf418080-e5f5-11e9-97ef-f91bee519a49.png)

**Additional context**
Add any other context about the problem here.

[2019-10-03 23:38] AbeOmor opened #90 "Installation steps are inconsistent"
**Describe the bug**
The Github installation readme works fine but it is diffrent from the installation.Rmd file.
The installation.Rmd is missing the following step.

[code]

The README.md is pointing to the wrong link when it directs you to more instructions

Here For a more detailed walk-through of the installation process, advanced options, and troubleshooting, see our Installation Guide.
https

[2019-10-04 19:56] csteegz opened #92 "Log plots with Log_Image"
**Describe the solution you'd like**

The Python SDK supports logging  plots in a run with
[code]
and can take a matplotlib plot as an argument. It would be nice if the R SDK can take plots as arguments (especially ggplot2 plots).

[2019-10-08 21:58] #89 closed, assigned to ahcan76

[2019-10-08 22:31] #86 closed, assigned to diondrapeck

[2019-10-08 23:48] #90 closed, assigned to AbeOmor

[2019-10-09 22:16] heemanshusuri opened #101 "Cannot create inference config with an environment that has additional R packages"
**To Reproduce**
create an environment with R packages:
r_env <- r_environment(name = "myenv", cran_packages = c("ggplot2"))

create inference config
config <- inference_config(entry_script = "score.R", source_directory = ".", environment = r_env)

**Expected behavior**
an inference config object should be created

**Screenshots**
![bug](https://user-images.githubusercontent.com/51678909/66524474-

[2019-10-14 22:37] ninghu commented on #92
Resolved through #107

[2019-10-14 22:37] #92 closed

[2019-10-14 23:48] revodavid commented on #39
I see this issue is closed, but I just retested and it remains an issue for me. I am unable to install unless I use:

[code]

I suggest at least adding a note to the installation instructions.

[2019-10-15 20:13] revodavid opened #112 "optparse not included in default image"
**Describe the bug**
When an experiment is processed, we can see that the `getopt` package is being installed. Since every training script requires this package, this unneccessarily slows down training.

**To Reproduce**
[code]

The output includes:
[code]

**Expected behavior**
The `getopt` package should already be installed in the image so that this step can be skipped.

[2019-10-15 20:49] revodavid opened #115 "package e1071 is required"
**Describe the bug**
Training script fails with the error:
[code]
As far as I can tell I am not using any function from e1071, and so it was not included in the `cran_packages` option to  `estimator`. Adding `"e1071"` to `cran_packages` works around the issue.

**To Reproduce**
https://github.com/revodavid/azure-ml-R-tutorial/tree/77f1f5b34d033764c410ef78921a1d46767a843f

**Expected behavior**
If

[2019-10-15 21:01] revodavid opened #116 "Driver log would be more useful with commands"
**Is your feature request related to a problem? Please describe.**
When an error occurs in a training script, the first place to look is the driver log file. But this file only includes R outputs. If it included the command (inputs) as well, it would be more useful. Otherwise, if there is a long block of commands that generate no output, it's hard to tell which command generated the error.

**Desc

[2019-10-15 21:51] revodavid opened #117 "Strange named component "datatables htmlwidget" in run viewer"
**Describe the bug**
Using `view_run_details` within an R Markdown chunk creates two "tabs", "datatables htmlwidget" and "R Console". The second name makes sense but the first is confusing.

**To Reproduce**
See screenshot

**Expected behavior**
"Azure ML Run Log" might be a better name.

**Screenshots**
![image](https://user-images.githubusercontent.com/152948/66872467-f2233700-ef5a-11e9-93d2-879

[2019-10-15 22:01] ninghu commented on #115
Hi @revodavid , The link you provided gives me a 404.
https://github.com/revodavid/azure-ml-R-tutorial/tree/77f1f5b34d033764c410ef78921a1d46767a843f

[2019-10-16 01:45] mx-iao commented on #115
package `e1071` is required by `caret`. `caret` is in our default base image but `e1071` is not; we will track this as an enhancement to add to base image.

[2019-10-18 20:34] ninghu commented on #117
datatables is the name of the htmlwidget we are using for rendering the run details. As you said, those names are created by RStudio so we are unable to rename to something else.

[2019-10-18 20:34] #117 closed

[2019-10-18 20:36] ninghu commented on #101
The issue has been address in latest R SDK code.

[2019-10-18 20:36] #101 closed

[2019-10-23 17:59] #115 closed

[2019-10-23 17:59] ninghu commented on #112
Resolved by #126

[2019-10-23 17:59] #112 closed

[2019-10-24 14:04] drcrook1 opened #140 "Support for Pipelines?"
I'm looking for pipeline support similar to the Python version.  I have 2 customers doing databricks w/ R who would like to use pipelines over top of these steps with datasets etc.

I do not see pipelines on the readme as a supported or planned to support item.  Is it supported?  If not, can we please ensure it is on the map?

Need ability to support pipeline creations from CLI & .yaml variations

[2019-10-24 23:44] ninghu opened #147 "Warnings are shown in the console after view_run_details() is called"
**Describe the bug**
Warnings are shown in the console after view_run_details() is called

**To Reproduce**
1. Submit a run
2. Call view_run_details(run)

**Expected behavior**
The widget should be shown in the viewer pane without any warnings in the console

**Screenshots**
![image](https://user-images.githubusercontent.com/11171669/67532918-06fb7b00-f67d-11e9-8b23-761a88d9b21f.png)

**Additional

[2019-10-24 23:55] ninghu opened #148 "Error is missing from the widget"
**Describe the bug**
Error is missing from the widget for a failed run.

**To Reproduce**
1. Submit a job which would fail in train script.
2. Call show_run_details(run)

**Expected behavior**
Error is supposed to be shown at the bottom of the table but it wasn't

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1117166

[2019-10-25 00:04] ninghu opened #149 "deploy-to-local sample get permission denied error when run on notebook vm"
**Describe the bug**
deploy-to-local sample get permission denied error when run on notebook vm

**To Reproduce**
service <- deploy_model(ws,
                         'rservice-local',
                         list(model),
                         inference_config,
                         local_deployment_config)
ERROR - Failed to create Docker client. Is Docker running/installed?
When you deploy

[2019-10-25 00:37] mx-iao commented on #140
We now have an [RScriptStep](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-steps/azureml.pipeline.steps.r_script_step.rscriptstep?view=azure-ml-py) for running arbitrary R scripts on AmlCompute. It is available from Python SDK and the CLI.

[2019-10-25 00:40] mx-iao commented on #140
I will track this as documentation enhancement to add an example of running a pipeline with the CLI

[2019-10-25 02:36] ninghu opened #150 "AttributeError: 'AciWebservice' object has no attribute 'reload'"
**Describe the bug**
reload_local_webservice_assets(service) throws below error

AttributeError: 'AciWebservice' object has no attribute 'reload'

**To Reproduce**
Steps to reproduce the behavior:

Run sample training\train-on-local

**Expected behavior**
reload_local_webservice_assets(service) call should fail.

**Screenshots**
![image](https://user-images.githubusercontent.com/11171669/67538958-

[2019-10-25 16:50] ninghu opened #152 "view_run_details(run): Error in loadNamespace(name) : there is no package called ‘knitr’"
**Describe the bug**
Got below error when call view_run_details(run) in vignette on a new notebook VM.

Error in loadNamespace(name) : there is no package called ‘knitr’

**To Reproduce**
1. Open RStudio from a new notebook VM
2. Run through train-with-tensorflow vignette
3. Get an error when call view_run_details()
Error in loadNamespace(name) : there is no package called ‘knitr’

**Expected beha

[2019-10-25 17:55] mx-iao opened #154 "train-and-deploy-to-aci vignette deployment times out"
**Describe the bug**
Get the below error when trying to deploy web service to ACI

**To reproduce**
- Run the train-and-deploy-to-aci vignette
- Try deploying the web service

**Expected behavior**
Service deploys successfully and `aci_service$state` == "Healthy"

**Screenshots**
<img width="487" alt="serviceerror" src="https://user-images.githubusercontent.com/33701412/67592944-d87dae80-f715-11e9

[2019-10-25 18:32] #85 closed

[2019-10-25 19:17] #150 closed

[2019-10-25 20:30] mx-iao opened #155 "widget not showing up in Viewer pane in RStudio when running from RMarkdown file"
**Describe the bug**
The widget is not showing up in Viewer, only in the code chunk output of the Rmd file.

**To Reproduce**
Run `view_run_details(run)`, for example from the train-and-deploy-to-aci vignette.

**Expected behavior**
Widget to show up in RStudio Viewer.

**Screenshots**
<img width="779" alt="rstudio-widget" src="https://user-images.githubusercontent.com/33701412/67602477-8a73a580-f

[2019-10-25 21:06] ninghu commented on #152
Synced with @oolukoya . We will include this package in notebook VM image.

[2019-10-25 22:29] ninghu opened #158 "Blank page for News on documentation site"
**Describe the bug**
Blank page for News on documentation site

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://azure.github.io/azureml-sdk-for-r/
2. Click on News

**Expected behavior**
The release notes should be shown.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/11171669/67608205-14c40580-f73

[2019-10-25 23:51] mx-iao commented on #158
Addressed by #160

[2019-10-25 23:51] #158 closed

[2019-10-26 00:57] mx-iao commented on #154
Looks like `source_directory` is a required parameter to `inference_config()`, since service succeeds when that parameter is specified. Will follow up as a possible bug on the Python SDK.

[2019-10-28 16:38] #148 closed

[2019-10-28 17:38] mx-iao commented on #154
addressed with #161

[2019-10-28 17:38] #154 closed

[2019-10-28 18:16] csteegz opened #162 "[PROPOSAL] Versioning of SDK"
I'm concerned it can be very difficult for DRI's to debug/support this SDK. We've had multiple issues in the python SDK where the particular version is important to supporting the issues. For instance, sdk versions 1.0.57-1.0.62 were broken for uploading large models.

I'd like to propose:

1. Plan to 'release' the R sdk on the same schedule as the python SDK going forward.
2. Version the R SDK li

[2019-10-28 18:42] ninghu commented on #162
@csteegz thanks for the great suggestions.

1. Currently R SDK is still under preview so we will continue to use version start with "0.". We do plan to match with python SDK version after it's GAed.
2. Can't agree more on 3. This change will be made very soon.

[2019-10-28 19:08] #152 closed

[2019-10-28 19:09] #147 closed

[2019-10-28 19:43] mx-iao commented on #155
Resolved - this is the expected behavior. When calling `view_run_details()` from Rmd it should not show up in Viewer (only if calling from R script or console should it show up in Viewer). Will update documentation & vignettes to clarify the expected behavior.

[2019-10-28 20:25] csteegz commented on #162
@ninghu what you say on 1 makes sense. Maybe we can have the last number of the version number correspond to the python SDK, since they're all versioned as 1.0.x?

[2019-10-29 16:14] #155 closed

[2019-10-30 00:40] mx-iao opened #173 "provide default value for source_directory param in inference_config()"
We should provide a default value `source_directory = "."` for the `inference_config()` method, since if `source_directory = NULL` only the file provided to `entry_script` is uploaded by Azure ML. Since that file is `_generated_score.py`, the user-provided `score.R` file won't get picked up and deployment will fail.

[2019-11-01 20:23] AbeOmor commented on #149
In order to run this demo, you have to have root access to Docker.
 If you are using Notebook VM you may get a "PermissionError(13, 'Permission denied'))" error,
because you may not have root access.
To add enable root access to Docker please, open the Terminal and run the following commands:
[code]
 After running the following commands, restart your Notebook VM to be grant root permissions

[2019-11-05 19:16] ninghu commented on #173
Sovled by #177

[2019-11-05 19:16] #173 closed

[2019-11-06 08:17] timoklimmer opened #183 "Submitting child runs"
The R SDK does not support submitting child runs yet whereas the Python SDK does (see [here](https://docs.microsoft.com/en-us/azure/machine-learning/service/how-to-manage-runs#submit-child-runs)).

As an ML engineer I need to be able to submit child runs so I can better structure the logs of my model trainings.

[2019-11-13 14:21] JLSMforPYR opened #196 "Workspace related functions on Databricks"
**Describe the bug**
I am trying to use this library in Databricks and I encounter a problem in the operation of this function (it hangs).

**To Reproduce**

- install the azureml sdk in this way so that databricks work on this enviroment
azuremlsdk::install_azureml(envname = "databricks-standard")

- Then I run 'get_current_run()' to check that it went well, and return:
<azureml.core.run._Offline

[2019-11-13 17:39] ninghu commented on #196
Thanks for reporting this issue.

It seems to get stuck at workspace interactive login step. Interactive login requires to open a web browser to finish the authentication but somehow it's not available. We had a similar issue with RStudio server before.

There is one workaround you can give a try which forces to use device code login. Run below code before calling any workspace related functions.

[2019-11-14 09:53] JLSMforPYR commented on #196
Your approach does not work, but thanks anyway.
In case it may be helpful to you, currently I'm using the runtime 5.5 Conda Beta.

[2019-11-14 20:42] ninghu commented on #196
Thanks for trying. I was able to repro your issue in a databricks R notebook.

The problem is databricks doesn't support real-time log streaming during the code execution when you are in the notebook. I found a workaround though.

1) Load workspace

[code]

2) Go to your cluster -> "Driver Logs" -> you should see some message like below. Follow the instructions to complete authenticate

3) Open yo

[2019-11-15 19:05] ninghu commented on #149
The notebook VM fix is rolling out to prod regions.

[2019-11-15 19:05] #149 closed

[2019-11-18 09:55] JLSMforPYR commented on #196
Works.
Thanks!

[2019-11-22 04:12] Narsi-1310 commented on #101
This issue still persists, updated both azuremlsdk for python and r.

[2019-11-22 18:24] heemanshusuri commented on #101
The python SDK version should be greater than "1.0.69". You can check it by running this command:
`azureml$core$"__version__"`

To install the latest version, run:
`azuremlsdk::install_azureml(version = "1.0.74")`

You should be able to use custom environment with R packages in your inference config.

[2019-11-22 19:03] #196 closed

[2019-11-22 21:15] #183 closed

[2019-12-09 03:55] ashley-betts70 opened #210 "Proxy - self signed certificate - unable to use SDK methods"
**Describe the bug**
When running behind a corporate proxy that is terminating the ssl session and presenting a self signed certificate we are unable to use the sdk components.

**To Reproduce**
Steps to reproduce the behavior:

- Have initiating R session behind proxy that is presenting self signed certificate.
- Try to invoke a method such as get_default_datastore()

**Expected behavior**
A clea

[2019-12-10 02:22] ashley-betts70 commented on #210
I've now also tested with purely the python SDK. Same problem. I have used:

`$ conda config --set ssl_verify=False`
and confirmed it is writing to .condarc

This makes no difference.

Oddly some methods seem to work (i.e. create_workspace, load_workspace_from_config) but yet others fail (get_default_datastore, python - Experiment()).

[2019-12-11 00:18] keita-makino opened #212 "Error in py_call_impl"
**Describe the bug**
When I try creating a workspace, I got the following error.

[code]

**To Reproduce**
I have just installed everything.

**Expected behavior**
I can create a workspace.

**Additional context**
My environment is:

|Tool|Version|
|---|---|
|OS|Windows 10 Pro x64 10.0.18362|
|R|3.6.1 x64|
|Python|3.7 with Anaconda|

`r-azureml` environment seems successfully installed as I can se

[2019-12-12 02:24] diondrapeck commented on #212
@keita-makino - The issue here is that an older version of the underlying Python SDK is being used ("Collecting azureml-sdk==1.0.69"). The `sku` param was introduced in a later version. Was this your first time installing the SDK or using that environment?

[2019-12-17 20:08] diondrapeck commented on #210
@ashley-betts70 - Yes, you're right. This issue has been confirmed to be on the Python SDK end. The reason you are experiencing it with some methods and not others is because not all methods directly call a client object. We will open a ticket internally and track this issue with it.

[2019-12-17 21:34] ashley-betts70 commented on #210
Hi @diondrapeck , thanks for raising the internal ticket. How will we know when the issue is resolved however?

Regards,

Ashley

[2019-12-17 22:38] diondrapeck commented on #210
@ashley-betts70 We will keep this ticket open until it's resolved.

[2019-12-18 11:23] jay-aplan opened #214 "Error while trying to use get_workspace() from sdk"
Hi,
I have been trying to use the sdk for get the workspace as i want to be able to upload the dataset after R script execution. I have added. It keeps on giving me this error. I really want to use azureml sdk hence have been trying various things for sometime but if it goes like this i may give up on it.
 I have checked the logs and couldnt see anything useful. Let me know if any specific log i s

[2019-12-18 19:56] heemanshusuri commented on #214
It's hard to figure out the issue without further logs. In the script, could you call `library(azuremlsdk)` before `azuremlsdk::install_azureml()`?

Could you verify if the R script is running fine in your local RStudio environment? This will help figure out where the issue is.

[2020-01-13 15:34] Rens88 opened #217 "AttributeError: module 'azureml' has no attribute 'core'"
**Describe the bug**
I'm having issues with Azure Machine Learning SDK for R: "module 'azureml' has no attribute 'core'"...

I am trying to use azureml to apply machine learning (my own stuff, written in R) to data from our data warehouse that is put in the blob storage. The modelled output should be put back into the blob storage so it can be accessed from the data warehouse. I've written the cod

[2020-01-14 19:13] mx-iao commented on #217
Hi @Rens88,
Yes the GitHub issues for this repo is good place to report bugs, ask for help, etc. For StackOverflow, we monitor the tag [`azure-machine-learning-service`](https://stackoverflow.com/questions/tagged/azure-machine-learning-service) so if you tag your question with that we will be able to find and triage it quicker.

As for your issue, have you taken a look at our installation guide: h

[2020-01-15 07:55] Rens88 commented on #217
Hi @mx-iao,
Thanks for your response!
I updated my StackOverflow [post](https://stackoverflow.com/questions/59683283/azure-machine-learning-integration-of-r-should-the-azureml-module-have-an-att). It now also includes the right tag, so perhaps you've already seen it.
As I explain in that post (in much more detail), I followed all the available installation steps. I installed my R via CRAN.

It wou

[2020-01-15 18:41] mx-iao commented on #217
Thanks! We will take a look at your StackOverflow post and follow up there.

[2020-01-15 19:26] diondrapeck commented on #217
@Rens88 In deciding which Python environment to use for your project, _reticulate_ takes the first version with _numpy_ installed and uses it as the default, but in your case, this happens to not be where you've installed the SDK. In order to fix it, run `reticulate::py_discover_config()` which will list all Python versions found on your machine. Copy the full path of the one that ends in "\r-azur

[2020-01-16 08:29] Rens88 commented on #217
Thanks for the suggestion @diondrapeck.
When I run `reticulate::py_discover_config()`, I get to see the following:

This is not the python version with azuremlsdk installed. I know the path, so I just ran 'use_python' with that specific path:
`reticulate::use_python('C:/.../AppData/Local/r-miniconda/envs/r-azureml/python.exe')`

For the first time after restarting RStudio, if I run :
`library(azur

[2020-01-17 11:16] Rens88 commented on #217
I seemed to have fixed the issue by specifically installing the python package azureml AND azureml.core:

`python -m pip install azureml`
`python -m pip install azureml.core`

I did this for the Conda version that was called by R (r-reticulate). It's a bit odd to not be able to use the Conda environment 'r-azureml' without R switching back to 'r-reticulate', but ah well... at least I don't get my

[2020-01-17 18:14] diondrapeck commented on #217
@Rens88 - I'm glad you were able to get it working! I'll add your solution to our troubleshooting guide in case another user runs across it.

[2020-01-24 00:20] revodavid opened #222 "train-with-tensorflow: deprecation warnings"
**Describe the bug**
When running the vignette "train-with-tensorflow" the user sees several warning messages about deprecated functions being used

**To Reproduce**
From `tf_mnist.R`:

[code]

[code]
[code]

**Expected behavior**
Tutorial uses non-deprecated functions instead.

**Additional context**
This is using RStudio Server in an AML Compute Instance. R version 3.6.2.

[2020-01-24 09:21] dumbledad opened #223 "pip install azureml-sdk failing: Could not find a version that satisfies the requirement dotnetcore2>=2.1.9"
**Describe the bug**
pip install azureml-sdk failing on Windows 10 Enterprise Insider Preview Dell XPS 15 laptop (build 19551.1001) with Python 3.7.0  (v3.7.0:1bf9cc5093, Jun 27 2018, 04:59:51) [MSC v.1914 64 bit (AMD64)]

**To Reproduce**
pip install azureml-sdk

**Expected behavior**
I expect pip to install the AzureML SDK

**Actual behavior**

**Screenshots**
<img width="965" alt="Screenshot 20

[2020-01-24 09:26] dumbledad commented on #223
Wrong area, this is python not R

[2020-01-24 09:26] #223 closed

[2020-01-24 16:45] diondrapeck commented on #222
@revodavid - thanks so much for bringing this to our attention! I'll add a work item for it and close this issue once it's completed.

[2020-01-25 20:50] revodavid commented on #140
It would be useful to be able to create pipeline steps, pipelines, and pipeline endpoints from the R SDK as well.

[2020-01-26 20:13] revodavid opened #224 "Add "See Also" links to help pages"
None of the function help pages in the azuremlsdk library include a See Also section. Including relevant functions in a See Also section would help users discover functions and navigate the help system better.

**Describe the solution you'd like**
Add a see also section to the help pages listing relevant functions. For example, `upload_files_to_datastore` should refer to `download_from_datastore`

[2020-01-26 21:46] revodavid opened #225 "Error submitting experiment: AttributeError: 'NoneType' object has no attribute 'lower'"
With current CRAN release (0.5.6) on Windows, attempting to submit an experiment gets this error when running through the vignette `train-and-deploy-to-aci.Rmd`.

[code]

**To Reproduce**
Install azuremlsdk from CRAN (v 0.5.6) and attempt to run the vignette `train-and-deploy-to-aci.Rmd`.

**Additional context**
This error goes away with version 0.5.7.9000, but providing this issue for the benefit

[2020-01-27 15:35] #217 closed

[2020-01-27 15:45] diondrapeck commented on #224
That's a great suggestion, David! Thanks  - I'll close this issue once we've implemented it.

[2020-01-27 18:04] mx-iao commented on #217
Hi @Rens88, turns out this issue was introduced because of the latest `reticulate` release 1.14. PR #221 addresses the issue and has been merged into master. This error should be resolved with a clean install of the SDK.

[2020-01-27 18:49] diondrapeck commented on #224
Hi David - thanks for this suggestion. [Some functions do have the "see also" section](https://azure.github.io/azureml-sdk-for-r/reference/lognormal.html), but it would be great to make that more consistent across the documentation. Also, the existing "see also" section functions aren't clickable, so that bug will need to be fixed. I'll close this issue once those changes are made.

[2020-01-27 18:58] mx-iao commented on #212
Closing issue. @keita-makino please reopen if you continue to have any trouble.

[2020-01-27 18:58] #212 closed

[2020-01-27 19:34] keita-makino commented on #212
Oh sorry I didn't notice the reply from @diondrapeck . Yes it was the first time of using the SDK. I installed python 3.7 with Anaconda but would I need a newer SDK to be installed separately, possibly?

I don't have a time to check it right now but will test it soon. Sorry for that again.

[2020-01-29 19:56] edocastro opened #230 "Azure Data Lake Gen 2 datastore connection from R"
We currently have customers that have a lot of code written in R and we are migrating them to Azure. How can we connect from R to Azure Data Lake Gen 2 Datastore?

[2020-01-30 10:46] dimalvovs opened #232 "Error: Python module azureml was not found."
Hello, here is installation as per the docs:

`library(azuremlsdk)`

`azuremlsdk::install_azureml(version = "1.0.69", envname = "r-azureml", conda_python_version = "3.6", restart_session = TRUE, remove_existing_env = TRUE)`

It results in:

`> get_current_run()
Error: Python module azureml was not found.`

Sessioninfo:
R version 3.5.0 (2018-04-23)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running

[2020-01-30 13:04] dimalvovs commented on #232
checked R version 3.6.2. (latest), same behaviour.

[2020-01-30 16:21] dimalvovs commented on #232
Ok, in my case he package was looking at the wrong conda env. Although at the time of installation is said that

# All requested packages already installed.
# packages in environment at C:\Users\...\Documents\.conda\envs\r-azureml:

during runtime it used this:

Error: Python module azureml was not found.

Detected Python configuration:

python:         C:/Users/.../AppData/Local/r-miniconda/envs/

[2020-01-31 22:44] diondrapeck commented on #232
Hi @dimalvovs - this is the result of an upgrade in the `reticulate` package. As of version 1.14, `reticulate` automatically installs R packages in its own environment, "r-reticulate".

We've fixed this issue in the GitHub package, but if a user is installing from CRAN with reticulate >= 1.14 or using a Notebook VM, they'll have to specify `azuremlsdk::install_azureml(envname = "r-reticulate")`, a

[2020-02-01 01:23] mx-iao commented on #230
Hi @edocastro ,
We can add a new method for the SDK for registering a Azure Data Lake Gen 2 datastore:
`register_azure_data_lake_gen2_datastore(workspace, datastore_name, filesystem, account_name, tenant_id, client_id, client_secret, resource_url = NULL, authority_url = NULL, protocol = NULL, endpoint = NULL, overwrite = False)`

You will then be able to interact with this type of datastore with t

[2020-02-01 02:42] edocastro commented on #230
Yes it will address my scenario. Thanks

[2020-02-01 03:02] mx-iao commented on #230
Sounds good, we'll get started on this

[2020-02-03 07:08] JLSMforPYR opened #234 "azureml.get_model_path dont search in azureml-models"
I'm trying to load a model from azureml that I've registred previouly. I have checked that the model is save, but when I use azureml$get_model_path("model_name") return an error  Model not found in cache or in root. Why this function dont search in azureml-models?

[2020-02-03 18:51] diondrapeck commented on #234
Hi @JLSMforPYR - do you have multiple versions of this model saved to your workspace? If so, you may need to specify the version, e.g. `my_model <- azureml$get_model_path(model_name='my_model_name', version='my_model_version')`

[2020-02-03 20:32] #214 closed

[2020-02-05 23:45] mx-iao opened #237 "Workspace only works with interactive auth and not service principal auth"
To do:
- expose `auth` parameter in `create_workspace()` and `get_workspace()` methods.
- add a `service_principal_authentication <- function(tenant_id, service_principal_id, service_principal_password, cloud = 'AzureCloud')` method corresponding to this class: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.authentication.serviceprincipalauthentication?view=azure-ml-py

[2020-02-06 10:08] JLSMforPYR commented on #234
No, I dont have multple versions of the model.

[2020-02-07 01:16] ashley-betts70 opened #238 "grid_parameter_sampling with choice errors with fixed values"
Hi,
    I'm trying to get a hyperparameter example working using grid_parameter_sampling. When using vectors to supply discrete values such as "nrounds" = choice(c(100,200)) this works fine. If however I wish to fix a parameter I am unable to. For example "gamma"= choice(c(0)) returns error:

 Error in py_call_impl(callable, dots$args, dots$keywords) :
  TypeError: 'float' object is not iterable

[2020-02-07 19:04] diondrapeck commented on #238
Hi @ashley-betts70, thanks for making us aware of this. This seems to be the product of poor documentation. The `choice` function actually will only accept a vector of values; "loose" values will raise an error as you found. I apologize for the incorrect documentation and subsequent confusion. We'll make it a priority to fix that function documentation and clarify examples.

As for fixing a parame

[2020-02-09 22:41] ashley-betts70 commented on #238
No worries, thanks @diondrapeck.

[2020-02-10 19:42] #238 closed

[2020-02-11 19:46] diondrapeck commented on #234
Have you tried adding DEBUG logging to get more information about the issue? If not, [here's an example from our docs](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-troubleshoot-deployment#function-fails-get_model_path). Let me know if this helps.

[2020-02-12 23:25] mx-iao opened #243 "mount_point parameter should default to NULL for mount_file_dataset()"
`mount_file_dataset <- function(dataset, mount_point)` should be `mount_file_dataset <- function(dataset, mount_point = NULL)` to be consistent with Python SDK, since `mount_point` parameter isn't required.

[2020-02-13 19:07] diondrapeck opened #244 "Add function to register model to run"
**Is your feature request related to a problem? Please describe.**
There isn't a wrapped function to allow registering a model with a run - only for registering a model to a workspace. Both are possible in Python SDK, and we should have parity. This is a user request.

**Describe the solution you'd like**
Add `register_model_to_run` function

[2020-02-14 00:34] mx-iao commented on #244
I think it should be `register_model_from_run()` since the most likely scenario is that the user is registering the model from inside a run in their training script. Lmk what you think

[2020-02-14 00:36] mx-iao commented on #225
Closing as issue has been resolved.

[2020-02-14 00:36] #225 closed

[2020-02-14 00:45] mx-iao opened #247 "add data_path() so that create dataset methods can take in DataPaths"
`create_file_dataset_from_files()` and `create_tabular_dataset_from_*()` methods can take in DataPath or list of DataPaths to the `path` parameter to specify datastore + path.

In order to support that we will need to add a `data_path <- function(datastore = NULL, path_on_datastore = NULL, name = NULL)` method (see [Python](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.data

[2020-02-16 00:43] revodavid opened #248 "vignettes not discoverable"
**Describe the bug**
Most vignettes are not listed at https://cran.r-project.org/package=azuremlsdk ;  only the `installation` and `configuration` vignettes are shown. Same goes for `vignette(package="azuremlsdk")` and the "vignettes" link shown by `help(package="azuremlsdk")`

**To Reproduce**
[code]

**Expected behavior**
All vignettes are listed.

**Screenshots**
On CRAN:
![image](https://user-

[2020-02-17 00:00] sdonohoo opened #249 "view_run_details function does not work in RStudio Server on Compute Instance"
**Describe the bug**
view_run_details() widget does not work within RStudio Server session on new Compute Instances which it does work in RStudio Server on Notebook VMs. The view_run_details code incorrectly extracts the instance name and domain_suffix from "~/../../mnt/azmnt/.nbvm" so defaults to localhost as the widget endpoint in the viewer/browser. On both NBVM and CI, the file exists and is i

[2020-02-17 20:47] MadNietzsche opened #250 "Error in py_call_impl(callable, dots$args, dots$keywords) : AttributeError: 'NoneType' object has no attribute 'startswith'"
While going through the tutorial on "train-and-deploy-on-aci.Rmd" in the Azure ML examples, I came across this issue while running the "create_inference_config" chunk:

[code]

I think that this has to do with some version of component in the python back-end but I'm not sure as I cannot find the source code for this.

Could you please enlighten me on the solution? Below you can find the R session

[2020-02-18 05:40] #243 closed

[2020-02-18 05:40] #237 closed

[2020-02-18 18:28] mx-iao commented on #250
Can you update to azuremlsdk v 0.6.85 from [CRAN](https://cran.r-project.org/web/packages/azuremlsdk/index.html) and then run `azuremlsdk::install_azureml(envname = 'r-reticulate')`

[2020-02-18 18:30] mx-iao commented on #249
Thanks Scott! You are correct that issue is due to the changes from NBVM to CI. We are aware of the issue and @diondrapeck is currently implementing the fix.

[2020-02-18 18:33] mx-iao commented on #248
Yes this is due to the other vignettes being in subfolders for clarity, since many of them have additional dependency files. Until we find a better solution this is unfortunately the case.

[2020-02-18 18:55] diondrapeck commented on #250
@MadNietzsche - I'll keep this issue open while we investigate, but in the meantime, I wasn't able to reproduce your issue with the latest version from CRAN, so upgrading your package should fix that.

[2020-02-18 19:28] diondrapeck commented on #250
@MadNietzsche - I just tested that example on a Notebook VM with version 0.5.7, and I still was unable to reproduce. Could you post more details of the error (if any) and the full script you ran (minus account information)?

[2020-02-19 19:32] MadNietzsche commented on #250
Thank you, both. The issue was fixed by upgrading azuremlsdk

[2020-02-19 19:32] #250 closed

[2020-02-19 21:10] mx-iao opened #251 "add dataset_consumption_config() method"
Add `dataset_consumption_config <- function(name, dataset, mode = 'direct', path_on_compute = NULL)` method so that a user can pass a list of these into the `inputs` parameter of the `estimator()` method without having to do `inputs = list(dataset$as_named_input('mydataset')$as_download())`, for instance.

New code would be: `inputs = list(dataset_consumption_config('mydataset', dataset, mode = 'd

[2020-02-20 15:04] MadNietzsche opened #252 "Deployment times out: train-and-deploy-aci vignette"
I had come to an issue trying to run the chunk on deployment:

[code]
Using ` reticulate`, I have been trying to access the `.get_logs()` from the service object without much success. Is there anyways to access it to find more details on the error? Is this issue ocurring only on my Azure session?

The details of the R session are as follows:

[code]

[2020-02-21 00:12] #232 closed

[2020-02-21 00:12] #162 closed

[2020-02-21 00:12] #116 closed

[2020-02-21 00:56] nswitanek commented on #244
`register_model_from_run()` is sensible and would be helpful, but probably called not from inside a run inside a training script, but from outside the train.R script after comparison between model runs produced across multiple runs (instantiations/parameterizations) of train.R scripts.

[2020-02-21 17:51] mx-iao commented on #244
good point, either scenario should work: 1) register from inside training script or 2) register from the control plane (not inside train.R).

here is the function signature we should have for the model:
[code]

@diondrapeck we should also expose the `sample_input_dataset` and `sample_output_dataset` parameters to the existing [register_model()](https://azure.github.io/azureml-sdk-for-r/reference/r

[2020-02-21 21:31] revodavid commented on #116
Request re-open: the bot closed this before the 30-day inactivity period was up @mx-iao

[2020-02-22 00:14] revodavid commented on #140
Commenting in the hope the rogue bot will allow this to stay open.

[2020-02-23 21:56] gel11 opened #255 "load_workspace_from_config() is unable to load workspace when using LocalWebservice"
**Describe the bug**
load_workspace_from_config() is unable to load workspace when using LocalWebservice

**To Reproduce**
[code]

**Expected behavior**
Should be able to load without errors.

**Screenshots**
![image](https://user-images.githubusercontent.com/37292332/75120900-75823100-568f-11ea-9239-df4c5bd26ee8.png)

**Additional context**
Docker version 18.05.0-ce, build f150324
azureml-core ve

[2020-02-23 21:58] #255 closed

[2020-02-23 21:58] gel11 commented on #255
Should be in python sdk.

[2020-02-24 00:12] #234 closed

[2020-02-24 07:24] lucazav commented on #140
Could anyone turn off the boot for this feature request? Creating pipelines from R SDK is really important. Thanks

[2020-02-24 17:32] revodavid commented on #248
Request reopen @diondrapeck . The bit is going rogue.

[2020-02-24 17:34] revodavid commented on #248
@mx-iao The problem is that R users have literally no way of reading these vignettes right now. I think one solution is to move the .Rmd files to the top-level `vignettes` folder, and use subfolders and relative file names for the data files. You can also put data and ancillary files in the `inst` folder of the package.

[2020-02-24 18:53] mx-iao commented on #140
@lucazav we are fixing the bot, thanks!

[2020-02-24 20:30] #249 closed

[2020-02-26 12:27] lucazav opened #256 "Missing documentation: How to create a dataframe from an Azure SQL Database already registered into the Datastore"
I'm trying to create a dataframe from an Azure SQL DB registered into the Datastore.
I'm trying to do that using TabularDatasets with this command:

`azureml$core$dataset$Dataset$Tabular$from_sql_query(sqlQuery)`

but I'm getting a mysterious issue:

It'd be great to have a companion documentation helping us to do basic operations with the R SDK. For example, just adding the "R" tab to the code ch

[2020-02-26 16:32] lucazav opened #257 "Can't install CRAN packages during a training run"
I'm executing an estimator to launch a training run. I'm declaring some CRAN packages to be installed in this way:

[code]

Looking at the _20_image_build_log.txt_ file, I'm getting the following error:

The same error occurs for each declared package in _cran_packages_.
It seems that _http://cran.us.r-project.org_ is down. Is it possible to force another CRAN repo?
How can I fix it?

[2020-02-26 17:34] mx-iao commented on #256
Hi @lucazav thanks for the feedback. We are in the process of adding datasets documentation. What is the value of `sqlQuery` you are feeding into the call?

[2020-02-26 17:39] lucazav commented on #256
Hi @mx-iao , it's something like this:

[code]
I've already tested it using Azure Data Studio pointing directly to my Azure SQL Database.
I've also registered my Azure SQL Database to the Datastore

[2020-02-26 18:01] mx-iao commented on #256
The [`query` parameter](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.dataset_factory.tabulardatasetfactory?view=azure-ml-py#from-sql-query-query--validate-true--set-column-types-none-) of `from_sql_query()` takes in (datastore, query).

Until we have the docs in R, here's the example in Python from the [docs](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-c

[2020-02-26 18:32] lucazav commented on #256
So should I use this R code:

`azureml$core$dataset$Dataset$Tabular$from_sql_query( list(sql_ds, sqlQuery) )`

or the _query_ parameter needs specific names (_name1_ and _name2_) for its elements, like:

`azureml$core$dataset$Dataset$Tabular$from_sql_query( list(name1 = sql_ds, name2 = sqlQuery) )`

?

[2020-02-26 19:00] mx-iao commented on #256
the query parameter in the Python SDK expects a tuple. so I believe you will need:
`azureml$core$dataset$Dataset$Tabular$from_sql_query(tuple(sql_ds, sqlQuery))`

[2020-02-26 19:37] revodavid commented on #257
The issue is that the version of azuremlsdk on the Compute Instances in Azure ML service are out of date. You can work around the issue in the meantime by running:

[code]

in RStudio on the Compute Instance to install the latest version on CRAN. You can check you have the latest version as follows:

[code]

[2020-02-26 19:44] sdonohoo commented on #257
I also follow up the `install.packages("azuremlsdk")` update with:

`> azuremlsdk::install_azureml(version = '1.0.85', remove_existing_env = TRUE)`

to refresh the underlying python env.

[2020-02-26 23:05] mx-iao commented on #256
@diondrapeck I just confirmed with the datasets team that you can also do `DataPath(datastore, 'SELECT * FROM my_table')` for SQL datastores. So once we add the corresponding `data_path()` method in R SDK from #247 this will address the scenario for `create_tabular_dataset_from_sql_query()`

[2020-02-27 09:32] lucazav opened #259 "RStudio code completion is slow to get started"
After refreshing the azuremlsdk package in RStudio on my Compute Instance, I loaded the library, but I can't see any suggestion from code completion:

![image](https://user-images.githubusercontent.com/6104437/75430887-4815db80-594c-11ea-8294-79fe3be16873.png)

Are there file system performance issues?

-----------------------------------------------------------
**UPDATE**

The code completion wor

[2020-02-27 13:36] lucazav opened #260 "Missing timezone data and Olson database"
My run went in error with this message into the _70_driver_log.txt_ file:

I suppose I'm facing into the same issue I found here:

[R missing timezone data and Olson database](https://github.com/jupyter/docker-stacks/issues/502)

I added the locale to the _read_csv_ call, but it seems not working.
Maybe adding `tzdata` to the R pre-requisites for docker containers will solve the warning.

[2020-02-27 13:46] lucazav commented on #256
I executed this code:

`tdf <- azureml$core$dataset$Dataset$Tabular$from_sql_query(reticulate::tuple(sql_ds, sqlQuery))`

and I'm getting this error:

I've double-checked both the variables _sql_ds_ and _sqlQuery_ are correct.

[2020-02-27 14:10] lucazav opened #261 "Enrich documentation: Add tenant auth to "Set up an Azure ML Workspace""
Since I have multiple workspaces in different tenants, I had to run this command to login interactively to the wanted tenant:

`azuremlsdk::azureml$core$authentication$InteractiveLoginAuthentication(tenant_id = '<my-tenant-id>')`

I think it'd better to add this code to the main vignettes and their related official documentation, like this one:

[Set up an Azure ML workspace](https://azure.github.

[2020-02-27 18:44] diondrapeck commented on #261
Thanks, @lucazav. This is a good idea. We'll close this issue once the documentation is updated.

[2020-02-27 18:52] diondrapeck commented on #259
Hi @lucazav - I can't reproduce.

Can you try (if you haven't already) once the azureml autocomplete box comes up, press tab to complete the suggestion, then a "$"? When I do that, I get the expected azureml model functions listing.

[2020-02-27 18:57] diondrapeck commented on #260
Hi @lucazav - thanks for bringing it to our attention. I'll close this issue once the images have been updated. In the meantime, you could try passing in your own docker image with the tzdata package installed using the custom_docker_image param in estimator().

[2020-02-27 19:23] mx-iao commented on #261
@diondrapeck I think we can add this [method](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.authentication.interactiveloginauthentication?view=azure-ml-py) to the SDK and then the user can pass that auth object to the `auth` parameter of `get_workspace()`, correct?

[2020-02-27 19:28] diondrapeck commented on #260
@lucazav - What exactly are you trying to do when you get this error? Is it a routine run? Inferencing? Is the timezone information particularly relevant to the script you're using?

[2020-02-27 19:57] lucazav commented on #259
Hi @diondrapeck, I already tried, but nothing.
Tha strage thing is that it seems something went wrong when I tried to re-install the _azuremlsdk_ package and to update the underlying Python lib. In fact if I run the command `azureml$core$authentication$InteractiveLoginAuthentication(tenant_id = '<my-tenant-id>')`, it gives me an error.
I did the same steps on my RStudio on-premises and all works f

[2020-02-27 20:00] lucazav commented on #260
Hi @diondrapeck,

I'm using the `readr::read_csv` function.

Is it enough to pass just the param in this way:

[code]
?

[2020-02-28 03:36] mx-iao commented on #224
@diondrapeck do you know why the @seealso methods are not linking properly? When I run `pkgdown::build_site()` on my own machine to preview the site the linking works.

[2020-02-28 03:37] mx-iao commented on #256
This appears to be an underlying datasets service issue. We are investigating with the team right now.

[2020-02-28 09:05] lucazav commented on #260
Hi @diondrapeck ,

I don't know how to build the right docker image having all the required dependencies.
Could you help me?

May be it would have been more convenient to have a parameter that allows you to simply pass a custom Python package as dependency to install to the default docker container built by AzureML, such as:

[code]

[2020-02-28 18:45] diondrapeck commented on #259
What's the error you receive when running the authentication command?

[2020-02-28 19:06] diondrapeck commented on #260
So, the `custom_docker_image parameter` should be the name of the Dockerfile you want to use - not the packages you'd want added to a Dockerfile. See the [documentation](https://azure.github.io/azureml-sdk-for-r/reference/estimator.html) for the `estimator` function.

A good Dockerfile example to start with is [the one we provide in our GitHub repo](https://github.com/Azure/azureml-sdk-for-r/blob/

[2020-02-28 19:31] mx-iao commented on #252
@MadNietzsche you can use the `get_webservice_logs()` method https://azure.github.io/azureml-sdk-for-r/reference/get_webservice_logs.html to retrieve the logs

[2020-02-28 22:36] diondrapeck commented on #261
@mx-iao Yep!

[2020-02-28 22:48] lucazav commented on #256
Could you give me a workaround to load data from Azure SQL Database, please?
Thank you.

[2020-02-28 22:54] mx-iao commented on #256
@MayMSFT can you please provide a workaround?

[2020-03-02 09:54] lucazav commented on #260
Is it a problem for you to provide such a modified Dockerfile in a public repository in the meantime you'll solve the issue?
Thank you so much.

[2020-03-02 14:50] lucazav opened #264 "Timeout while registering model with multiple files"
I'm trying to register a bunch of objects related to my model.
All works fine when I register only one file using this code:

[code]

But if I try to upload multiple files in this way:

[code]

I get the following error:

Any suggestion to bypass the issue? I really need to register more than one objects.

---------------------------------------------------------------
**UPDATE:**
I managed to upl

[2020-03-02 17:07] lucazav opened #265 "Unhealthy state of ACI after trying to deploy a model from R SDK"
I'm trying to deploy a model in this way:

[code]

After waiting for a long time, I got this error:

[2020-03-02 18:06] mx-iao commented on #265
Hi @lucazav can you run [`get_webservice_logs()`](https://azure.github.io/azureml-sdk-for-r/reference/get_webservice_logs.html) and let us know what you're getting?

[2020-03-02 18:49] lucazav commented on #265
Thank you @mx-iao for your hint in using `get_webservice_logs()`.
Looking at logs I see a wrong way to access to the registered model file.
As I pointed out at [Issue264](https://github.com/Azure/azureml-sdk-for-r/issues/264), I succeeded to register the model manually using the web UI and passing a single zip file.

Now I'm using this code into the scoring script to unzip and then use the single

[2020-03-02 19:27] mx-iao commented on #264
How large is file_02.rds? There is a 60 second timeout (default HTTP request timeout) with registering the model via the SDK so likely the file(s) are too big and need to be compressed. To clarify: you are able to upload the zip file via the web interface but not with the SDK right? Let me follow up to see if the web interface has different timeouts

[2020-03-02 19:33] mx-iao commented on #264
Actually how large are both files?

[2020-03-02 19:38] mx-iao commented on #257
FYI here is the troubleshooting guide section for updating R SDK on Compute instance: https://azure.github.io/azureml-sdk-for-r/articles/guides/troubleshooting.html#compute-instance

[2020-03-02 19:42] mx-iao commented on #265
Yes, you will need to first unzip the zipped model file before accessing the individual files inside, since the registered model right now is only the zip file. `file.path(model_path, 'clustering-model.zip')` is the correct way to get the path to the zipped file.

Here is more information on accessing the correct model path: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-and

[2020-03-02 19:52] lucazav commented on #264
The zip file contains 5 rds files. I uploaded the entire zip file via the web UI with success. Here the sizes of files:

- clustering-model.zip (3375 KB)
- file_01.rds (1476 KB)
- file_02.rds (1972 KB)
- file_03.rds (15 KB)
- file_04.rds (5 KB)
- file_05.rds (3 KB)

[2020-03-02 20:40] lucazav commented on #265
Now the scoring ACI is working like a charm.
Thank you!

[2020-03-02 21:07] MadNietzsche commented on #252
Here are the logs

[code]

[2020-03-02 22:39] lucazav opened #266 "Attach an existing AKS Dev-test inference cluster"
I've created an Inference Cluster with Dev-test purpose via the web UI (I couldn't create it via SDK).
I'd like to reference it in order to deploy a model over it.
I tried using `attach_aks_compute` and `get_compute` with no success.
How can I reference it so that the following code will work?

[code]

[2020-03-02 23:25] lucazav opened #267 "Cannot create an AKS Inference Cluster from SDK"
I'm trying to create an AKS cluster with the following code:

[code]
but I'm getting the following error:

Am I really exceeding the quota with a "simple" AKS cluster like the upon mentioned one?

[2020-03-03 10:38] lucazav opened #268 "Warning "No connection could be made because the target machine actively refused it""
I'm often get the following warning when loading my workspace objects from my on-premises RStudio:

Is there something to fix by my side?

[2020-03-03 13:12] lucazav commented on #266
I found the following way to get the list of all the AKS compute targets:

`azureml$core$compute$aks$AksCompute$list(ws)`

So I can get the target I want (in this case the first) using this code:

`aks_target <- azureml$core$compute$aks$AksCompute$list(ws)[[1]]`

Then I deployed my model using it:

[code]

[2020-03-03 13:26] lucazav commented on #268
It seems the problem was the windows firewall.
I disabled it for each profile:

![image](https://user-images.githubusercontent.com/6104437/75779946-e219c180-5d5a-11ea-9e40-44035251c24a.png)

and now I'm not getting those messages.

[2020-03-03 14:50] lucazav opened #269 "Inference script in an AKS compute target can't resolve the model path as ACI does"
After trying to develop my model on an existing dev-test AKS compute target (as mentioned [here](https://github.com/Azure/azureml-sdk-for-r/issues/266#issuecomment-593943130)), I get the following error:

I'm using the same inference script I've used when deploying the model on the ACI as mentioned [here](https://github.com/Azure/azureml-sdk-for-r/issues/265#issuecomment-593557471).

Is there anot

[2020-03-03 17:14] mx-iao commented on #267
@nishankgu can you please take a look at this quota issue

[2020-03-03 17:20] mx-iao opened #270 "expose cluster_purpose parameter for create_aks_compute()"
Expose `cluster_purpose` parameter for `create_aks_compute()` method to differentiate between setting up devtest and fastprod clusters.

Related issue: #266

[2020-03-03 17:25] mx-iao commented on #266
- Work item to expose `cluster_purpose` parameter to create devtest purpose cluster from SDK: #270
- What is the error you are getting when you use `attach_aks_compute()`? Is it unable to find the compute based on the cluster name?

[2020-03-03 17:26] mx-iao commented on #268
I don't believe we've seen this issue before. @diondrapeck can you take a look?

[2020-03-03 17:31] mx-iao commented on #269
Model path resolution should be the same for both ACI and AKS deployments. Are there additional logs you can share? @heemanshusuri can you take a look?

[2020-03-03 19:08] #261 closed

[2020-03-03 19:11] #265 closed

[2020-03-03 19:14] diondrapeck commented on #268
Hi @lucazav - Are you working behind a proxy?

[2020-03-03 19:45] lucazav commented on #266
I used the following code:

[code]

and I got the following error:

[2020-03-03 19:47] lucazav commented on #268
Hi @diondrapeck,

I'm using an on-premises VMWare VM, no proxy and I turned off the windows firewall.

[2020-03-03 19:53] lucazav commented on #269
The inference script is like the following:

[code]
I registered the model manually using the web UI. The zip file contains multiple RDS objects.

[2020-03-04 02:19] #247 closed

[2020-03-04 03:48] diondrapeck commented on #256
@lucazav  - the `data_path` function has been added.

[2020-03-04 06:37] nishankgu commented on #267
yes most likely you are exceeding quota. AKS quota comes from all up subscription level compute quota - https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-quotas#virtual-machines

Please go to quota blade under subscriptions on the Azure portal, to view the current usage of your quota in your region. In the above specification you are trying to create a produciton AKS cluster -

[2020-03-04 07:49] sachinparyani commented on #256
Hi @lucazav,

I'm an engineer from the AML Dataset team and I can help take a look at this issue. Do you mind telling me what the exact SQL query is that you are running? The reason I ask is because we have had issues with SQL queries that use COUNT, AVG and the likes. If you have something like SELECT COUNT(column_name) FROM $$$ , one workaround is to replace it with SELECT COUNT(column_name) **A

[2020-03-04 09:17] lucazav commented on #256
Hi @sachinparyani ,

I tried with a simple `SELECT TOP 100 * FROM my_schema.my_table`.

[2020-03-04 16:15] lucazav commented on #256
Hi @mx-iao ,

supposing the query works fine (I'm still waiting to fix it), I'll have the `tdf` tabular dataset. How can I get an R data frame from `tdf`? Is `as.data.frame` enough?

[2020-03-04 18:47] mx-iao commented on #266
We are investigating this issue. As a workaround, you can try to attach your cluster via the CLI. Refer to the "Using the CLI" section of this [documentation](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-azure-kubernetes-service#attach-an-existing-aks-cluster)

[2020-03-04 18:51] mx-iao commented on #256
@sachinparyani do you have a list of known issues/troubleshooting for these sorts of datasets issue? That way we can link to those from our documentation.

[2020-03-05 00:22] #251 closed

[2020-03-05 03:42] sachinparyani commented on #256
Hi @lucazav ,

Thank you letting me know what the query is. Since we do not know what the underlying error is. I would like you try the following:

1. Please update your azureml-core (https://pypi.org/project/azureml-core/1.1.2rc0/) and azureml-dataprep (https://pypi.org/project/azureml-dataprep/1.3.0/) python packages to the latest and try.  We recently made some changes to our error handling mec

[2020-03-05 03:43] sachinparyani commented on #256
@mx-iao Don't think there is a list per se that I am aware of. However, if I do happen to compile one, I will make sure to update you.

[2020-03-05 07:51] lucazav commented on #256
Hi @sachinparyani,

how can I update those packages from RStudio? Have I to manually install them into the environment created by the `azuremlsdk` library?

[2020-03-05 10:27] lucazav commented on #256
I tried with this code:

[code]

but I'm getting the following error:

Any help, please?

[2020-03-05 12:58] lucazav commented on #256
Hi @sachinparyani ,

I found a way to install the packages you suggested via reticulate.
First of all, I installed the last stable version of SDK:

`azuremlsdk::install_azureml(version = "1.0.85", remove_existing_env = TRUE)`

Then I run the following code:

[code]

After that, I registered a new Azure SQL Database Datastore entry using the UI.
So I tried to connect to my azure sql db in the follo

[2020-03-05 13:20] lucazav commented on #259
I re-installed the sdk again and now all seems working fine:

![image](https://user-images.githubusercontent.com/6104437/75985332-6e0f2300-5eec-11ea-8d8d-7e8859fdfc04.png)

[2020-03-05 13:20] #259 closed

[2020-03-05 17:36] lucazav commented on #269
I tried again with a different inference script (that works fine using ACI) and I got the same error I said before:

Any suggestion, please?

[2020-03-05 17:48] mx-iao commented on #266
@lucazav Are you providing AKS resource by resourcegroup+cluster name, or by resource ID?

[2020-03-05 17:53] lucazav commented on #260
Hi @mx-iao ,

I'm asking for the modified Dockerfile because I don't have an Ubuntu environment to generate it. If you could provide it, I'll continue to test my training run.

Thank you.

[2020-03-05 18:01] lucazav commented on #266
@mx-iao as shown before I tried first with resource group + cluster name with no success ("cluster_name not provided") and then I tried with the `resource_id` with no success too ("Invalid resource_id provided: xxxxxxx").
I'm providing the Resource ID highlighed in the following picture:

![image](https://user-images.githubusercontent.com/6104437/76010706-a4ac6400-5f13-11ea-8b85-c2bace2ea95b.png)

[2020-03-05 18:06] lucazav commented on #266
Just to clarify, I created the Dev-test AKS directly into the Workspace using the web UI. My aim is just to point to it as an AKS target (`aks_target`) to be used as following:

[code]

[2020-03-05 18:06] mx-iao commented on #260
Hi @lucazav,
A clarification - `custom_docker_image` takes in the name of the Docker image, not the Dockerfile. The compute instance should have Docker installed if you are able to use it as an alternative environment to modify the Dockerfile and build the image.

Btw, we are currently working on a bit of refactoring of our r_environment/estimator to make the environment definition process easier

[2020-03-05 18:27] mx-iao commented on #269
@lucazav Following up with the team right now

[2020-03-05 20:02] diondrapeck commented on #270
@mx-iao - do we want to add the [ClusterPurpose](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.compute.aks.akscompute.clusterpurpose?view=azure-ml-py) object as well?

[2020-03-05 22:35] sdonohoo opened #274 "hyperparameter-tune-with-keras vignette fails due to reticulate version"
**Describe the bug**
Running the [hyperparameter-tune-with-keras vignette](https://github.com/Azure/azureml-sdk-for-r/tree/master/vignettes/hyperparameter-tune-with-keras) example fails for all hyperparameter tasks at:

`install_keras()`

in cifar10_cnn.R. The error is:

`Error in conda_install(envname, packages = packages, conda = conda, ...) :
  unused argument (python_version = conda_python_ver

[2020-03-06 00:33] sachinparyani commented on #256
A reason I can think of is that your compute instance environment may have different packages installed. Is there a way for you to check the contents of 'pip list' on both environments? The important packages to consider are azure, azureml-core, azureml-sdk and azureml-dataprep. Also, is your on-prem RStudio behind a VNet or a firewall? I'm not completely familiar with how environments work in R b

[2020-03-06 00:43] mx-iao commented on #274
Ah yes, good catch! @diondrapeck @heemanshusuri can we remove the explicit r-reticulate installation and have the azuremlsdk CRAN installation handle the dependency as Scott mentioned?

[2020-03-06 02:29] mx-iao commented on #266
Hey @lucazav, I think I've figured out the issue.
A couple of things:
- If you create an AKS cluster in the studio UI (ml.azure.com) through Compute > Inference clusters > New (which is what you've done I believe), this means that you have already created the AKS cluster in your workspace. This is the equivalent of running `create_aks_cluster()` in the SDK. However, if you had an existing AKS clus

[2020-03-06 09:14] lucazav commented on #266
Hi @mx-iao ,

that was my feeling: my AKS cluster was already attached. May be a simple return message like "_The 'you-cluster-name' AKS cluster is already attached_" should be a good output of the `attach_aks_compute()` in this case.
I tried the `get_compute()` function as you suggested and all works fine.

We definitely need a complete documentation about how to do these simple operations :)

[2020-03-06 09:53] lucazav commented on #260
Hi @mx-iao ,

thank you for your info.
Could you tell me more or less when the package `tzdata` will be added to the pre-requisites for docker containers? Thanks

[2020-03-06 14:44] lucazav opened #275 "Run in queue for 1 hour and half"
I've executed a run than is in queue for 1 hour and half:

![image](https://user-images.githubusercontent.com/6104437/76093321-0d054f00-5fc1-11ea-91d0-c6871d080358.png)

Why all this waiting?

[2020-03-06 17:26] diondrapeck commented on #275
@lucazav - Do you have any other runs going at the same time? Check your experiments and compute on your Workspace.

[2020-03-06 19:26] lucazav commented on #275
No other runs at same time. After 2 hours the run started.

[2020-03-06 19:38] lucazav opened #277 "Accessing datasets as inputs in a training run"
I've just executed a training run where I had to get data from an Azure SQL DB.
I need to get the Workspace object in order to point to the specific Datastore. So I used the following code:

`ws <- load_workspace_from_config()`

My run failed with this error message:

Have I to use another way to get the `ws` object?

[2020-03-06 19:40] lucazav commented on #268
I suppose the warnings are due to any VM connection issues, since I don't have any of such message in my Compute Instance

[2020-03-06 19:40] #268 closed

[2020-03-06 19:59] #244 closed

[2020-03-06 20:12] diondrapeck commented on #277
@lucazav  - could you provide more detail? Did you open the browser link and enter the authentication code before this error happened? Or did it happen before you opened the link?

[2020-03-09 09:20] lucazav commented on #277
@diondrapeck, I executed a training scipt in which I'm reading the object `ws` through an estimator.
So, I can't access that link. I sow the message into the _70_driver_log.txt_ file:

![image](https://user-images.githubusercontent.com/6104437/76199131-95693700-61ef-11ea-9445-08118e225679.png)

[2020-03-09 17:37] diondrapeck commented on #275
Sorry about the delay! This was likely an intermittent cluster availability issue on the Compute side. I'm glad your run did finally start.

[2020-03-09 17:37] #275 closed

[2020-03-09 17:40] diondrapeck commented on #277
While I'm investigating this, could you try using our `interactive_login_authentication` function? There's an example of how to pass that object into an workspace constructor in the documentation: https://azure.github.io/azureml-sdk-for-r/reference/interactive_login_authentication.html. Hopefully, that will succeed as another option for now.

[2020-03-09 17:57] lucazav commented on #277
I tried, but I get the following error:

[2020-03-09 18:30] diondrapeck commented on #277
Which SDK installation are you using? That function is available in the current GitHub repo.

[2020-03-09 18:32] diondrapeck commented on #277
Instead of re-installing to get the latest GitHub repo functions, you could also just call it directly from the Python SDK like this:

`interactive_auth <- azureml$core$authentication$InteractiveLoginAuthentication(force = force, tenant_id = tenant_id, cloud = cloud)`

[2020-03-09 19:25] lucazav commented on #277
Yep, I already tried it:

but I get always the first kind of error:

[2020-03-09 22:14] #270 closed

[2020-03-09 22:19] #266 closed

[2020-03-09 22:41] diondrapeck commented on #277
To clarify, you get that error when trying `azureml$core$authentication$InteractiveLoginAuthentication(tenant_id = "xxxxxx")`? Or do you get it after that, when you try to pass it into `get_workspace`?

[2020-03-09 22:53] lucazav commented on #277
I get it when trying the interactive authentication

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-10 11:24] lucazav commented on #260
Hi @mx-iao ,

any news on the adding of the `tzdata` package dependence?

[2020-03-10 18:10] mx-iao commented on #260
Hi @lucazav,
We generally try to avoid adding additional packages to the default image for R to keep the size down. You can create a custom_docker_image that includes this package. @heemanshusuri if there's anything you can add here.

[2020-03-10 18:42] lucazav commented on #260
It’s really important to add the `tzdata` dependence, otherwise you’ll always have errors when dealing with date/time in readr.
Take a look here: https://github.com/tidyverse/readr/issues/952#issuecomment-451255375

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-10 18:55] mx-iao commented on #260
I see. We'll take a look at adding this then as part of some additional work we are doing right now for the default images.  It should land some time this month but I can't give a more exact ETA yet.

[2020-03-10 21:51] lucazav commented on #277
Hi @diondrapeck, any news? Thanks

[2020-03-11 16:18] diondrapeck commented on #277
Hi @lucazav, sorry for the delay. I'm trying to recreate. It looks like an issue with R rather than the Python part of the SDK; however, that error has multiple causes, so I'm trying to narrow it down to the exact one you're experienced.

In the meantime, did you try to use [`get_workspace()`](https://azure.github.io/azureml-sdk-for-r/reference/get_workspace.html) and if so, did the same error occ

[2020-03-11 16:22] lucazav commented on #277
The problem is that it gives that error here:

`azureml$core$authentication$InteractiveLoginAuthentication(tenant_id = 'XXX')`

and stops before executing the `get_workspace()` function.

[2020-03-11 16:35] diondrapeck commented on #277
Could you paste a snippet of the code you're running? Just the workspace retrieval parts (personal info redacted of course).

[2020-03-11 16:40] lucazav commented on #277
Here we are:

[code]

[2020-03-11 16:54] diondrapeck commented on #277
Do you need the interactive login step here? What happens if you just run get_workspace without the auth param?

[2020-03-11 17:24] VincentTennanty opened #280 "Inference function as Webservice"
Hi all
I have created my workflow right through to submitting an experiment.
My tsoutliers code detects outliers.

While trying to deploy as a  webservice I came up against an example of predict in the config entry script.
But Im trying to infer. i.e Trying to look back and detect outliers in data rather than predict.
Is there any documentation around deploying Inference functions as a webservice?

[2020-03-11 17:37] lucazav commented on #277
I've just used the following code:

[code]
and I'm getting the following error:

[2020-03-11 17:39] mx-iao opened #281 "get_dataset_by_name() throws error"
Customer is reporting the following error:
[code]
With v 0.6.85 of the R SDK

Customer is also getting this error:
[code]

[2020-03-11 17:48] mx-iao commented on #281
Customer is also getting this error:
[code]

[2020-03-11 17:49] tiagoh commented on #281
Same issue here

[2020-03-11 18:23] sachinparyani commented on #256
@lucazav  Did you get a chance to look into the differences?

[2020-03-11 19:39] lucazav commented on #256
Hi @sachinparyani, sorry for my delay.
Here the packages on my on-premises installation:

Here the packages list of my compute instance:

[2020-03-11 21:53] VincentTennanty commented on #280
Just in case Im not clear or wrong.. I basically have a model that detects outliers. Im trying to use this model to return a results dataset.  Im trying to deploy the model into a webservice. To deploy into the webservice, inference config script needs to call my model. The code examples are based on predict() however I just want to use my model to return a results dataset of values from today bac

[2020-03-11 22:18] mx-iao commented on #280
Hi @VincentTennanty,
See this [documentation](https://azure.github.io/azureml-sdk-for-r/reference/inference_config.html#defining-the-entry-script) for more information.

In the examples, the models are created from using the caret package, so that is where the use of the predict function comes from. Azure ML does not require you to use any specific predict methods.

The entry script must contain a

[2020-03-12 04:14] colbyford opened #282 "Issue with installing CRAN packages (R ODBC) in web service deployment"
When specifying a list of CRAN packages to install in the predefined base Docker image, `RODBC` fails to install and thus throws an error.

Is this due to system dependencies that need to be installed from the command line? (e.g. `unixodbc-dev` for `RODBC`)

[code]

### Error:
[code]

### sessionInfo()
[code]

[2020-03-12 14:43] lucazav commented on #277
I'm also trying to use the MSIAuthentication in this way (first from my Compute instance, not using the upon mentioned estimator):

[code]

but I'm getting the following error:

@mx-iao , @diondrapeck any chance to speed up the resolution of this issue? I'm stuck with my solution now. Thank you very much.

[2020-03-13 00:23] mx-iao commented on #282
Yes I think it's due to system dependencies. Our base images do not yet include ODBC driver. Your best option is to create a custom image and specify that to the `custom_base_image` parameter of `r_environment`.

[2020-03-13 02:43] mx-iao commented on #230
Method has been added with #279

[2020-03-13 02:43] #230 closed

[2020-03-13 14:27] linalex opened #284 "add dataset reference to model"
what is the R equivalent of tuple in R?

[2020-03-13 17:18] mx-iao commented on #284
Hi @linalex, can you point us to the specific method you are referring to? You can import the reticulate package and then use the `tuple()` method, but we generally want to avoid requiring that of users. So if there are any methods where you're having issues with this please let us know and we'll address them.

[2020-03-13 18:08] mx-iao commented on #224
@diondrapeck looking at some other packages, looks like in order to link properly you have to use this syntax [my_function()] rather than `my_function()`. Opened up a PR on workspace.R to validate.

[2020-03-13 18:33] linalex commented on #284
dt <- get_dataset_by_name(ws, "name", version = "latest")
model_new$add_dataset_references("dt") # what is a tuple in R, what shall I put here?

[2020-03-13 18:58] mx-iao commented on #284
I see. Can you try:
[code]
Another option for associating datasets with a model is during registration time: when you call [`register_model()`](https://azure.github.io/azureml-sdk-for-r/reference/register_model.html) you can specify the `datasets` parameter; it will take a list of tuples & you can specify it similar to above. @diondrapeck we should change the type for the `datasets` parameter so i

[2020-03-13 20:23] linalex commented on #284
` Error in py_call_impl(callable, dots$args, dots$keywords) :
  WebserviceException: WebserviceException:
	Message: Invalid dataset of type <class 'str'> passed, must be of type Dataset or DatasetSnapshot
	InnerException None
	ErrorResponse
{
    "error": {
        "message": "Invalid dataset of type <class 'str'> passed, must be of type Dataset or DatasetSnapshot"
    }
} `

error with `tuple()`

[2020-03-13 21:32] mx-iao commented on #284
Sorry, I had a typo, should be a list of tuples:
[code]
However this does yield the following error: `Message: Invalid dataset of type <class 'azureml.data.tabular_dataset.TabularDataset'> passed, must be of type Dataset or DatasetSnapshot`. I believe this is a bug with the datasets service - they recently deprecated a class and I don't think they updated the method. @MayMSFT FYI can you take a lo

[2020-03-13 21:43] mx-iao opened #286 "update datasets parameter to take list of lists for register_* methods"
We should update `register_model()` and `register_model_from_run()` methods so that the `datasets` parameter takes in a list of lists instead of a list of python tuples. See #284.

[2020-03-16 14:08] csiebler commented on #281
As a workaround, this seems to be running well in Jupyter using a R kernel.

[2020-03-16 17:31] diondrapeck commented on #281
**Update**

1. The issue has been isolated to RStudio (server and desktop), so as @csiebler mentioned, Jupyter with an R Kernel and R command line should both work without triggering the error.
2. The `Error in .Call(_reticulate_py_str_impl, x) : reached elapsed time limit` message does not prevent the creation of the dataset object. Thus, the functions still work in RStudio, despite the error. Yo

[2020-03-16 21:34] diondrapeck commented on #277
@lucazav - I'm sorry, I can't reproduce. Could you try installing the latest GitHub repo? I have no issues with interactive auth using the GitHub install.

[2020-03-16 22:37] lucazav commented on #277
Hi @diondrapeck, I've just updated my R environment on-prem using this code:

[code]
Then I've run the estimator in the following way:

[code]
The `training_test.R` file contains the following code:

[code]

My run fails with the following error I get from the `70_driver_log.txt` file:

Is there anything I'm doing in the wrong way?
Thanks.

[2020-03-16 23:21] diondrapeck commented on #277
@lucazav - Thanks for posting the training script - that helps a ton! So you're trying to run interactive authentication from inside of your remote run, and I believe that's what's causing your issue. You don't need to authorize again nor retrieve a workspace once you've kicked off your run because your run is part of an experiment that you created using your workspace that you've been authorized

[2020-03-16 23:30] lucazav commented on #269
Hi @mx-iao,

any news on this issue?

Thank you.

[2020-03-17 00:27] mx-iao commented on #277
@lucazav Yes thanks for posting the training code - let me provide some guidance for you on dataset usage. I am currently in the process of writing up a datasets usage vignette, which I should be able to get in by the end of the week.

You want to pass in your dataset(s) required in the training script as part of the `inputs` parameter of the `estimator` function like so:
[code]
See [`dataset_cons

[2020-03-17 01:29] sachinparyani commented on #256
@lucazav Thank you sharing the lists! I see that you're azureml-dataprep version in the on-prem case is slightly older. Do you mind updating it to the latest version, which is 1.3.5 (https://pypi.org/project/azureml-dataprep/1.3.5/). While you're at it, if you could also update azureml-core to the latest version, which is 1.1.5.3 (https://pypi.org/project/azureml-core/1.1.5.3/), that would be grea

[2020-03-17 09:56] lucazav commented on #256
Hi @sachinparyani ,
I've updated the packages you mentioned in the following way from my on-prem RStudio:

[code]
During the installation of `azureml-dataprep` I got these error messages:

Anyway the installation returns a successful message.

Then I run the following code:

[code]

but I got the following error:

[2020-03-17 13:42] lucazav commented on #277
@mx-iao , I tried what you suggested in this way:

**Estimator**
[code]

**training_test.R**
[code]

but I'm getting the following error:

[2020-03-17 17:02] mx-iao commented on #277
@lucazav can you update your R SDK to the latest from GitHub? There was a fix for this that just got checked in. I would suggest using a GitHub install for now as we are checking bug fixes and enhancements; we are planning another CRAN release soon.

[2020-03-17 17:34] lucazav commented on #277
@mx-iao I've just tried to update the R SDK I have on my Compute Instance, but it was already updated:

`remotes::install_github('https://github.com/Azure/azureml-sdk-for-r', force = "TRUE")`

I run my code again for a double-check and I got the upon mentioned error again.
Anything I'm missing?

[2020-03-17 17:41] mx-iao commented on #277
Ah sorry - misread your comment. I see, your R SDK is up to date but the SDK used in the default container built for the remote run is installing the CRAN latest. Can you specify this to your `r_environment` to get the GitHub install `github_packages=[“Azure/azureml-sdk-for-r”]` .

We are working on finalizing our cadence for CRAN release and will take this as input, please try the above workaroun

[2020-03-17 18:09] mx-iao commented on #284
Just checked - the bug with using `add_dataset_references` has been fixed in the Python SDK. If you would like to use that method you can update the underlying Python SDK via `azuremlsdk::install_azureml(version = "1.1.5.1")`. We will be releasing a new version to CRAN soon where we will update the underlying Python SDK.

[2020-03-17 18:13] lucazav commented on #277
@mx-iao I've just used the following code:

[code]

but I'm getting this error into the `20_image_build_log.txt` file:

[2020-03-17 18:19] mx-iao commented on #277
Ah you will also need `devtools` package too in order to install; can you specify that to the `cran_packages` too?

@heemanshusuri we should include devtools as a default package too for these types of scenarios

[2020-03-17 18:58] mx-iao opened #289 "error in get_workspace_details()"
Following error when calling get_workspace_details():
[code]
Seems to be due to how we return the result as a data frame. @diondrapeck perhaps we should revert back to return it as is (a named list) to avoid introduction of these kinds of issues?

[2020-03-17 20:08] lucazav commented on #277
@mx-iao it seems the `devtools` package can't find its dependencies:

I'm trying adding also the `usethis` and `git2r` packages to CRAN's ones. Is it the right way to go?

[2020-03-17 20:24] mx-iao commented on #277
Yeah, can you try including those too? Those packages should be automatically getting installed since they're specified in Imports.. @heemanshusuri can you please take a look?

[2020-03-17 20:30] mx-iao commented on #284
Closing this issue now - please reopen if you have further issues/questions.

[2020-03-17 20:30] #284 closed

[2020-03-17 20:37] lucazav commented on #277
Another error. Also the `gh` package was missing.
But have you ever tested this case? It seems I'm the first one who is testing the `github_packages` feature...

[2020-03-17 20:58] mx-iao commented on #277
Yes we have - @heemanshusuri will take a deeper look and see what the underlying issue is and if we can add any more robust testing. Thanks for your patience; we are a small team and stretched quite thin at the minute.

[2020-03-17 21:12] lucazav commented on #277
I understand. I was asking just to suggest you to reinforce the testing phase.
In the meantime I got this error when installing the `gh` package:

When installing the package git2r I get this error:

[2020-03-17 21:18] mx-iao commented on #277
Hmm I see -  I think this issue is in scenarios where system dependencies need to be installed; we are currently determining the best way to support this w.r.t to our underlying service. @sdonohoo I believe you have worked through some similar scenarios recently - were there any quick workarounds you were able to find?

[2020-03-17 21:36] mx-iao commented on #281
Hi @csiebler & @tiagoh

Can you try updating the underlying Python SDK and see if that resolves the error you are seeing?
Running `azuremlsdk::install_azureml(version = "1.1.5.1")` should work

We were able to get a more detailed error message during further testing:
"WARNING - Found installed version of "azureml-dataprep": 1.1.1Minimum supported version: 1.1.29
Some functionality may not work cor

[2020-03-18 00:51] sachinparyani commented on #256
@lucazav  Thank you for providing this information! I will check with our R team and get back to you.

[2020-03-18 18:57] diondrapeck commented on #289
@mx-iao Are we only seeing this with workspace or do we need to revert all data frames back to named lists? In [his original PR](https://github.com/Azure/azureml-sdk-for-r/pull/136/files), @heemanshusuri introduced DFs for run and compute as well.

[2020-03-19 01:38] colbyford commented on #282
I have since replaced all RODBC functionality with DBI, but the base image doesn't include the odbc or SQLite packages, so it still doesn't work. Is there a plan to add these to the base image?

[2020-03-19 09:11] lucazav commented on #277
Hi guys, any suggestion to not get stuck?

Also providing a custom Docker image in the meantime you'll fix the dependencies issue could be really useful for who isn't a Docker user.

Thank you very much.

[2020-03-19 15:38] VincentTennanty commented on #280
Hi @mx-iao .
Im still having trouble.
Basically when I try deploy as a web service , when i view getwebservice_logs(mywebservicename),
My error says Init function not found, further down the error I see Entry_script not found.

With regards the Init function, would you mind taking a look.
![Screenshot 2020-03-19 at 15 35 51](https://user-images.githubusercontent.com/62069656/77084919-7ccefd00-69f7

[2020-03-19 17:15] heemanshusuri commented on #282
Right now, there is no plan to include extra packages in the base images. You could create a custom docker image with the required packages and create your environment with it:
`env <- r_environment(<name>, custom_docker_image = <your_image>)`

[2020-03-19 17:28] heemanshusuri commented on #260
Hi @lucazav,

Unfortunately, we won't be able to add this package in the base image as of now. Please create a custom docker image and you can pass it to the `estimator` function.

[2020-03-19 17:39] sachinparyani commented on #256
@mx-iao from the R team to provide and update.

[2020-03-20 14:12] lucazav commented on #260
I managed to create a custom docker image and I pushed it on Docker Hub:
[R SDK Custom Docker Image](https://hub.docker.com/repository/docker/lucazav/r-sdk-docker-img)

Could you confirm that anyone who will use:

`custom_docker_image = "lucazav/r-sdk-docker-img:v1"`

in their `estimator` definition, automatically will get the image from Docker Hub?

Thank you.

[2020-03-20 14:48] lucazav commented on #277
I create a custom Docker image as a quick workaround. You can find details [here](https://github.com/Azure/azureml-sdk-for-r/issues/260#issuecomment-601721228).

[2020-03-20 15:14] lucazav commented on #282
Hi @colbyford ,
try to use this environment:

`r_env <- r_environment(name = "nb_deploy_env", cran_packages = nb_pkg, custom_docker_image = "lucazav/r-sdk-docker-img:v1")`

[Here](https://github.com/Azure/azureml-sdk-for-r/issues/260#issuecomment-601721228) more details.

[2020-03-20 18:38] mx-iao commented on #277
Hi @lucazav, we found a fix for this issue - our code was using `remotes` instead of `devtools` for the GitHub package installs. @heemanshusuri just checked in a fix for this yesterday #290 so if you do a new install from GitHub of the SDK you should have this fix now.

[2020-03-20 20:46] lucazav commented on #260
Hi @mx-iao ,
I've updated my Docker image in the Hub. But if I exec a run using that image, it seems Azure ML uses the previous cached image (I can't see the "20_*" log file.
Is there a way to force to delete the cached image?

[2020-03-20 21:08] mx-iao commented on #260
For the warning you are getting, have you tried updating the version of the Python SDK used in the remote run to 1.1.5.1? That may get rid of the issue. If your image on Docker Hub is public then anyone should be able to use it - let me try a run with your image to verify.

Azure ML uses a hash of the environment specifications to determine if it should rebuild or use the previously cached image.

[2020-03-20 21:15] #286 closed

[2020-03-20 21:18] lucazav commented on #260
I've just added the command to update the Python SDK into the Dockerfile. I'm compiling the new image and then I'll push it with a new tag (v2). Thanks!

[2020-03-20 21:46] lucazav commented on #260
No way. I used the image V2 in my estimator, but Azure ML didn't compiled a new image.
Any help?

[2020-03-20 22:06] mx-iao commented on #260
Hm, let me look into that. Meanwhile if you specify some arbitrary new package to cran_packages (which you don't have to actually use btw) that should invalidate the cache.

[2020-03-20 22:56] mx-iao commented on #260
@lucazav, just followed up with the team - currently Azure ML detects Docker image changes via digest, so changing a tag without changing the underlying image won't make a difference (and won't trigger a rebuild). Let me know if you're seeing issues with this still.

[2020-03-20 22:57] mx-iao commented on #289
Let me double check and get back to you

[2020-03-20 22:59] lucazav commented on #260
I've added a CRAN package as you suggested and the new image was built and worked like a charm!

[2020-03-20 23:04] mx-iao commented on #260
Great! In general, changing an image should trigger a rebuild so let us know if this doesn't seem to be the case for you at any point.

[2020-03-20 23:48] lucazav commented on #269
Is this solved with the new Python SDK?
Thanks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-21 14:54] lucazav opened #292 "view_run_details() is not working"
I've just executed a run using the last Python SDK (1.1.5.1) on my client:

[code]
When executing `view_run_details(run)`, I get the following error:

and nothing is shown in the Viewer.

[2020-03-21 15:26] lucazav opened #293 "log_table_to_run() causes my run to fail"
In my training code I have this command:

[code]
where `my_table_df` is a tibble.
When executed, the run fails with the following error in the `70_driver_log.txt` log file:

-------

For a usability point of view, it's better that the `log_table_to_run()` function gets a dataframe/tibble as input parameter. A named list for a table is really uncomfortable.

--------
**UPDATE**

I also tried to add

[2020-03-21 16:30] lucazav opened #294 "Error in rendering a logged picture from the UI"
I've executed a run with success, in which few pictures are logged using `log_image_to_run()`.
When trying to rendering them using the UI I get the following error:

![image](https://user-images.githubusercontent.com/6104437/77231180-99a33600-6b99-11ea-8d0b-f3990165456f.png)

[2020-03-22 14:18] colbyford commented on #282
@lucazav , many thanks!

For my odbc needs, I ended up further modifying your Dockerfile as follows:

[code]

This seems to have successfully installed the appropriate Linux dependencies for R to be able to install the `odbc` package.

This is on my Docker Hub at `cford38/azureml-customaks:odbc-base`.

--------------------------
@heemanshusuri - While I understand the need to keep the Docker image

[2020-03-23 16:45] diondrapeck commented on #293
@lucazav - could you please try this with a data.frame rather than a tibble? Please let me know if the error persists.

[2020-03-23 16:47] lucazav commented on #282
Hi @colbyford ,

did you try loading a serialized tabular data set object in the main of the scoring script and then using it to load data directly from the Azure SQL Database with the `load_dataset_into_data_frame` function?
I used a similar approach [here](https://github.com/Azure/azureml-sdk-for-r/issues/277#issuecomment-600078595).

[2020-03-23 16:57] lucazav commented on #293
Hi @diondrapeck ,
I'm getting the same error using a data frame, since the `split.default()` function returns a list regardless you use a tibble or a dataframe.

[2020-03-23 16:57] diondrapeck opened #295 "Typo in `log_table_to_run` documentation"
**Describe the bug**
In the [examples section of the documentation](https://azure.github.io/azureml-sdk-for-r/reference/log_table_to_run.html), the representation for the 2nd param should be a named list. Instead, it's two lists.

[code]

**Expected behavior**
[code]

[2020-03-23 16:58] colbyford commented on #282
I didn't do that here. For my client, they have a process that reads from and writes to a series of tables in Azure SQL DB based on the input ID and other information sent through the API.

I can now connect to the database successfully. (Though there are other issues that I'll be opening soon...)

[2020-03-23 17:12] lucazav commented on #293
I found the "bug": I need to transform all the list elements in vectors, since the split.default() transform a dataframe in a list of dataframes of 1 column. So the working code is:

[code]

As I said before, having a `log_table_to_run()` function that accepts also dataframes would be great.

[2020-03-23 17:48] diondrapeck commented on #293
Glad you got it working!

The reason the function requires a named list is because the Python backend uses dictionary, and named lists are the R equivalent of dictionaries. Moving to dataframes would require extra processing before handing over to Python.

We appreciate the feedback though. We obviously do not want the SDK to feel unnatural for R users, so we're continually working to strike a bal

[2020-03-23 17:48] #293 closed

[2020-03-23 19:05] mx-iao commented on #292
Is this on the compute instance or your local RStudio?

[2020-03-23 19:21] lucazav commented on #292
On my local RStudio I get the error as soon as I run the estimator.
On the compute instance I get the run details on the first run. After the first refresh I get the error.

[2020-03-24 11:31] VincentTennanty opened #297 "Error in py_call_impl(callable, dots$args, dots$keywords)"
Hi guys
Im having some trouble deploying my first webservice.
When I run deploy_model() Im getting the following error.

Error in py_call_impl(callable, dots$args, dots$keywords)
Evaluation error: Evaluation error: Unable to convert R object to Python type..

Im trying to use the forecast package, so that my webservice will forecast  7 days of data  thats passed through.
Also can anyone confirm, w

[2020-03-24 15:37] diondrapeck commented on #294
Hi @lucazav - I've reached out to the Workspace UI team for help (as this is not an RStudio issue per se). I will update you when I learn more.

[2020-03-24 17:29] mx-iao commented on #297
Hi @VincentTennanty,
Are you able to provide a minimally reproducible example of your score.R code?

Also yes, the model framework will be "Custom". [Here](https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.core.model.model.framework?view=azure-ml-py) is a list of the model framework types that Azure ML supports for no-code deployment; other model formats are considered custom (this

[2020-03-24 23:28] mx-iao commented on #269
@lucazav let me follow up with you offline

[2020-03-25 13:17] csiebler commented on #281
Hi @mx-iao,

I'ved tried running:

`azuremlsdk::install_azureml(version = "1.1.5.1")`

I assume R Studio on Compute Instance uses the following env:

[code]

So that seemed to have worked. But when I run the code, I still get the error:

[code]

[2020-03-25 16:52] diondrapeck commented on #292
Hi @lucazav - This is an issue I'm working on - we're experiencing it with our tests as well. The root is an issue with authentication. Once I've fixed it, I will close this issue.

[2020-03-26 10:05] lucazav opened #299 "Something similar to the Python logging class"
Is there something similar to the `logging` class like [this](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-debug-pipelines#logging-options-example) in the R SDK?
Is `message()` enough to write to log files?

---------------

**UPDATE**

Is this enough?
[code]

[2020-03-26 12:25] lucazav opened #300 "Can't register a model from a run"
I'm trying to register a model after a run has finished in this way from my Compute Instance:

[code]

I'm getting the following error:

-----------------
**UPDATE**

I found the `register_model_from_run()` wrapper function. Using it in the following way:

[code]

The definition of the run's `register_model()` function says that it expects a workspace in input:
![image](https://user-images.githubu

[2020-03-27 14:41] lucazav opened #301 "Error returned by deploy_model() function: 'InferenceConfig' object has no attribute 'id'"
I'm trying to deploy a new model using ACI. I've already used the following code before with success:

[code]
Now, when running the `deploy_model()` function, I'm getting the following error:

I tried the previous code installing the last R SDK available today on Github and installing also the Python SDK 1.2.0 in my Compute Instance.

[2020-03-27 16:53] sdonohoo opened #302 "register_model() fails on missing datasets argument"
**Describe the bug**
Attempting to register a model using register_model():

![image](https://user-images.githubusercontent.com/1457586/77780234-a9030300-7021-11ea-8d42-c3715c2d9e7e.png)

**To Reproduce**
Use register_model() or register_model_from_run() without setting the datasets argument.

**Expected behavior**
Successful registration of the model. This code worked a couple of weeks ago under

[2020-03-27 17:03] diondrapeck commented on #300
Hi @lucazav - `register_model` and `register_model_from_run` are different functions. `register_model` registers a model to a workspace which is why you see it in the definition. `register_model_from_run` doesn't need a workspace, it just wants the run. So your original line `run$register_model(ws,....)` should be `run$register_model(run, ...)`.

[2020-03-27 17:39] mx-iao commented on #302
Thanks for the catch, Scott! We'll fix this ASAP. @diondrapeck can you create a fix for this?

[2020-03-27 17:40] mx-iao commented on #300
I believe this is related to issue #302

[2020-03-27 17:40] heemanshusuri commented on #301
Hi @lucazav

There is a bug in your deploy_model() call. The third parameter is a list of models and you have passed a list of inference config. It should be:

[code]

[2020-03-27 18:04] lucazav commented on #301
Ouch!! A copy&past error. May be I'm too tired.
Thank you very much!

[2020-03-27 18:04] #301 closed

[2020-03-27 18:16] lucazav commented on #300
Hi @diondrapeck ,
if so, the tooltip on `run$register_model()` is totally misleading, so I think it should be forced to show `run` and not `workspace`.
That said, my code using `register_model_from_run()` is not working. So I suppose there is an issue, as @mx-iao has pointed out.

[2020-03-27 18:48] diondrapeck commented on #300
@mx-iao I don't think they're related.

[2020-03-27 18:52] mx-iao commented on #300
I think the initial issue wasn't, but I believe `register_model_from_run()` won't work if the user doesn't specify the `datasets` argument

[2020-03-27 19:03] diondrapeck commented on #299
Hi @lucazav, the linked example is using Python's built-in `logging` library. There's not a azureml.core.logging.getLogger() that's used.

I would recommend either finding an analogous logging package for R.

[2020-03-27 19:03] #299 closed

[2020-03-27 22:36] #277 closed

[2020-03-27 22:47] diondrapeck commented on #300
Oh, yes. You may be experiencing that issue if it's still not working. Sorry, @mx-iao I thought you were referring to the original issue.

@lucazav I just created a PR to solve the issue with `register_model_from_run`, so once that's in, your issue should be resolved. Sorry about the bug!

[2020-03-27 22:47] #300 closed

[2020-03-27 23:09] diondrapeck commented on #224
@mx-iao Links still aren't working on the site. Even with the new linking syntax. e.g. https://azure.github.io/azureml-sdk-for-r/reference/register_model.html

[2020-03-27 23:36] #295 closed

[2020-03-27 23:49] mx-iao commented on #224
@diondrapeck looks like we might need to do: [azuremlsdk::my_function()]

[2020-03-28 00:38] #302 closed

[2020-04-01 17:44] lucazav opened #306 "Can't zip files into the "outputs" folder"
I'm trying to create a zip file of all the RDS files I saved into the `outputs` folder in this way:

[code]

After the run is completed, I can't find the zip file into the `outputs` folder.
Am I missing something?

[2020-04-02 00:07] mx-iao opened #308 "expose `query_timeout` parameter for create_tabular_dataset_from_sql_query()"
`query_timeout` parameter is currently missing from `create_tabular_dataset_from_sql_query()`

[2020-04-02 09:42] johanneswaage opened #309 "R evironment encapsulation"
Hello,

It's unclear how azureML supports R environment encapsulation, similar to venv or condaenv for Python?
The current state-of-the-art encapsulation for R is renv (https://rstudio.github.io/renv/articles/renv.html), which encapsulates package versions and dependencies for a project.
`r_renvironment()` does not seem to support this? It would be hard to use AzureML for production code support w

[2020-04-02 16:30] #281 closed

[2020-04-06 17:34] mx-iao commented on #309
Hi @johanneswaage, this is a great point and thanks for bringing it up. Better package management support is on our roadmap, and we are looking into ways we can support renv. In the meantime, you can use renv with a custom Docker image until we have deeper integration.

[2020-04-08 18:28] mx-iao commented on #267
More comprehensive documentation added with #305; added a quota section in the troubleshooting guide and a model deployment guide.

[2020-04-08 18:28] #267 closed

[2020-04-08 20:48] #308 closed

[2020-04-08 21:27] mx-iao commented on #257
Closing now as new compute instances provisioned have v0.6.85 installed by default.

[2020-04-08 21:27] #257 closed

[2020-04-08 21:43] mx-iao commented on #297
We've also added a more in-depth documentation on model deployment: https://azure.github.io/azureml-sdk-for-r/articles/guides/deploying-models.html

[2020-04-10 00:00] #222 closed

[2020-04-10 08:43] lucazav opened #314 "load_dataset_into_data_frame from Azure SQL Database is extremely slow"
I'm fetching data from my Azure SQL Database (3mln rows) in the following way from the Compute Instance:

[code]

The process is really slow and makes RStudio continuously popup the following error:

![image](https://user-images.githubusercontent.com/6104437/78976816-40368300-7b17-11ea-9ed0-edaae5324dc0.png)

I also tried to run the same code in my on-prem RStudio. I've installed the latest R and

[2020-04-10 15:34] diondrapeck commented on #314
Hi Luca, I will close this issue since it's a duplicate of your issue in #256. That issue is still open and under investigation. When there's an update, it will be communicated there.

[2020-04-10 15:34] #314 closed

[2020-04-10 17:12] diondrapeck commented on #256
@lucazav - could you try using the new `query_timeout` param with `create_tabular_dataset_from_query`? The default is 30 seconds, so try increasing it from that. This would hopefully mitigate the 408 issue you came across.

[2020-04-14 18:31] mx-iao commented on #289
@diondrapeck I'm only see this with workspace details, but I think we can still revert the other two - in case something similar ever happens there too?

[2020-04-14 22:50] revodavid opened #317 "No non-system installation of Python could be found"
**Describe the bug**
Loading the azuremlsdk package with `library(azuremlsdk)` generates an error and prompt:

[code]

**To Reproduce**
* Create a fresh Azure ML Compute Instance and launch RStudio using the link in Azure ML studio.
* At the R console, type `library(azuremlsdk)`

**Expected behavior**
`library(azuremlsdk)` generates no output or prompt, and the package loads

**Screenshots**
![ima

[2020-04-14 23:12] revodavid opened #318 "AzureML Widget fails to display run details"
**Describe the bug**
In RStudio `view_run_details` is meant to display a widget with run information, but this fails in an AML Compute instance with azuremlsdk 0.6.85 installed

**To Reproduce**
* Create a new Azure ML Compute Instance
* Launch RStudio
* Run the vignette "Train and deploy your first model with Azure ML" through the command `view_run_details(run)`
* See this in the viewer pane:

![

[2020-04-15 00:06] mx-iao commented on #317
@revodavid This is a design decision from the reticulate package: https://github.com/rstudio/reticulate/issues/607

You will need to respond "n" to the prompt, and you should only be prompted once for that machine.

[2020-04-15 00:18] revodavid commented on #317
In this case, the azuremlsdk user isn't installing reticulate directly, and Python azureml installs its own Anaconda distro. So this prompt is a surprise to the user (and it still blocks scripts). Perhaps we can suppress it somehow?

[2020-04-15 03:54] mx-iao commented on #318
@diondrapeck is this a duplicate of #292?

[2020-04-15 03:58] mx-iao commented on #317
Yeah, we will look into seeing if we can disable/suppress the prompt on the compute instance. https://github.com/rstudio/reticulate/issues/710 looks like something we can look into. @diondrapeck FYI

[2020-04-15 04:02] mx-iao commented on #294
@lucazav can you share the code you used to log the images? Thanks

[2020-04-15 17:27] lucazav commented on #294
@mx-iao here the code:

[code]

where `pc_ens_centroid` is a `cl_medoid {clue}` object.

[2020-04-16 00:16] revodavid commented on #318
This above screenshot was taken in RStudio Server running in the Compute Instance.

I just tried it from a local instance of RStudio and the widget appears momentarily but then this error appears after you click "Link" in the widget. The correct page in Azure ML studio does get displayed however.
[code]

[2020-04-16 00:29] revodavid commented on #318
Same error appears if you just wait 10 seconds, no need to click the link

[2020-04-16 16:39] revodavid opened #319 "Confusing error message on AKS cluster deployment failure"
**Describe the bug**
If provisioning an AKS cluster with  `create_aks_compute` fails, the error message is confusing and incomplete.

**To Reproduce**
Try running the `deploy-to-aks.Rmd` vignette in a region with insufficient capacity or where the tenant is restricted by quota.

[code]

**Expected behavior**
The Python error should be trapped by R and displayed readably.

The correct support link

[2020-04-16 16:49] revodavid commented on #306
This is just a guess, but if you're running in a training cluster those are Linux VMs, and the "zip" command might not exist there. Do you see any errors in the log file? An error would appear in 70_driver_log.txt, which you can find in the Runs section in ml.azure.com

![image](https://user-images.githubusercontent.com/152948/79483724-7ec0b780-7fc7-11ea-8d28-a418f09330bc.png)

[2020-04-16 16:52] revodavid commented on #274
This appears to be resolved in v0.6.85. I was able to run hyperparameter-tune-with-keras.Rmd without error.

[2020-04-16 17:21] lucazav commented on #306
Hi @revodavid,

no errors. The run ends with the state of "Completed".
In the meanwhile I gave up on the idea of using a zip file, I've just registered a model declaring the folder containing all the files I need.
By the way, the [zip package](https://cran.r-project.org/web/packages/zip/zip.pdf) is cross-platform.

[2020-04-16 18:27] #264 closed

[2020-04-16 18:39] mx-iao commented on #256
@lucazav what version of azureml-dataprep do you have on your local machine? You can find this by running
[code]
and finding azureml-dataprep

[2020-04-16 20:31] mx-iao commented on #289
As a workaround:
[code]

[2020-04-20 17:06] #260 closed

[2020-04-20 17:59] revodavid commented on #248
Addressed by #320

[2020-04-21 09:12] gustavtillman opened #322 "Help file inaccuracy r_environment() and estimator()"
In the help files for these two functions it says that the input for the cran_packages options etc. should be a character vector. But I cannot get this to work. Looking at the examples in this repo it appears that you in fact should use a list as input. That works for me.

[2020-04-21 15:02] diondrapeck commented on #322
Hi @gustavtillman, thank you for bringing this to our attention. You are right. The documentation needs to be updated. Sorry about that - I will close this issue once the fix is in.

[2020-04-22 22:03] diondrapeck commented on #318
@mx-iao yes

[2020-04-23 15:22] gustavtillman opened #325 "Training output not available under outputs/ with attached compute"
**Describe the bug**
Training model on attached compute (DSVM Ubuntu 18.04), and model object does not show up in outputs folder even though the run completes.

**To Reproduce**

[code]

In train.R I'm doing this:
[code]

**Expected behavior**
The model object should appear in the outputs folder.

**Screenshots**
![image](https://user-images.githubusercontent.com/45601718/80115340-eb6a2200-8584-11

[2020-04-27 15:41] #292 closed

[2020-04-27 15:41] #318 closed

[2020-04-27 18:22] mx-iao commented on #256
@lucazav we have traced the above error `Error in py_call_impl(callable, dots$args, dots$keywords) :
OSError: [WinError 6] The handle is invalid` to an issue on Windows in the newer updates to azureml-dataprep which @sachinparyani is patching. As a workaround if you downgrade your `azureml-dataprep` version to 1.3.0 that should mitigate the error you are seeing,

[2020-04-27 20:02] mvenanc commented on #140
I was testing the feature RScriptStep and then, in my case, I need to run an specific docker image,  then, I tryed to set custom_docker_image parameter with a path from Docker Hub, but when I run my experiment I got an error "Unable to get image details : Specified base docker image " .. It is importante to mention that if I run a normal EstimatorStep with the same container image, it runs perfect

[2020-04-27 20:38] mx-iao commented on #306
@lucazav I don't think the issue is with Azure ML. You need to make sure that the zip package dependency is captured in your environment, and then you need to load in the package in the training script: `library(zip)`. If the package doesn't get loaded, then the `zip()` call doesn't do anything (I tried this locally). Also, it looks like `zip::zip()` is deprecated so I would switch to `zip::zipr()

[2020-04-27 20:47] lucazav commented on #306
Thank you @mx-iao, I'll try what you suggested

[2020-04-27 20:47] lucazav commented on #256
Thank you @mx-iao

[2020-04-28 01:13] mx-iao opened #327 "mount & download modes for FileDataset inputs for remote runs not working as expected"
When a FileDataset as passed as an input to a run with either the mount or download mode, e.g.:
[code]
the expected behavior is that the data will get mounted (or downloaded), and that the mount (or download) path can be accessed with the following in the training script:
[code]
However this is not the case. Looking at the driver log, it looks like the DatasetContextManager never gets initialized

[2020-04-28 10:29] lucazav opened #328 "custom_docker_image parameter not working in RScriptStep"
I'm trying to run the following R step in a pipeline:

[code]

I'm getting the following error:

![image](https://user-images.githubusercontent.com/6104437/80476900-5764d580-894b-11ea-9140-8d5ad74c31dc.png)

The image I'm using is [correctly published on Docker Hub](https://hub.docker.com/repository/docker/lucazav/r-sdk-docker-img), so I expect it will be used by the `RScriptStep`. The image is wo

[2020-04-28 10:29] lucazav commented on #140
I'm facing the same issue @mvenanc has reported. Maybe it's better to open another thread for it.
You can find it [here](https://github.com/Azure/azureml-sdk-for-r/issues/328).

[2020-04-28 12:38] lucazav opened #329 "github_packages option doesn't work for RScriptStep"
After I tried to use a custom Docker image with no success (see [here](https://github.com/Azure/azureml-sdk-for-r/issues/328)), I tried to update the `azuremlsdk` package from Github using the `github_packages` parameter in _RScriptStep_ in the following way:

[code]

I'm getting the following error:

Is there anything I can do?

[2020-04-28 13:04] chmitch opened #330 "Issues with get_workspace"
I'm a guest user on another organizations Azure Subscription.   I have contributor permissions on the resource group that contains the Azure Machine Learning workspace.  When I attempt to call get_workspace, I get the message:

"You are currently logged-in to <my company's aad tenant id> tenant. You don't have access to <customer's subscription ID> subscription, please check if it is in this tenan

[2020-04-28 13:22] lucazav commented on #330
Hi @chmitch ,

I suppose you need to login using the interactive authentication and passing the proper tenant id:

[code]

Please, refer to [this blog post](https://medium.com/microsoftazure/how-to-authenticate-into-azure-machine-learning-using-the-r-sdk-3ff930697bd1) for more details about authentication using the R SDK.

[2020-04-28 14:55] lucazav opened #331 "r_environment() function is not working in the latest release"
I've just installed the latest version of `azuremlsdk` from Github and I've also installed Python SDK 1.4.0.
I'm trying to run this code:

[code]

I'm getting the following error:

[2020-04-28 15:51] diondrapeck commented on #331
Hi Luca, a few weeks ago, the expected value for the cran_packages param was changed in the GitHub release to allow for repo and version specification. This is also true for estimators.

See [the doc page of `r_environment`](https://azure.github.io/azureml-sdk-for-r/reference/r_environment.html) to see what the function expects, and also, [here's](https://azure.github.io/azureml-sdk-for-r/referenc

[2020-04-28 15:51] #331 closed

[2020-04-28 21:24] mx-iao commented on #329
Hi @lucazav, we just submitted a fix for this issue and it should be in the next release of the Python SDK.

[2020-04-28 22:09] lucazav commented on #329
Thank you very much!

[2020-04-29 20:32] morganvill opened #332 "AutoMLConfig() equivalent in SDK"
Hello,

is there an equivalent for AutoMLConfig() Python SDK function from Azure in R SDK ?

If not, how can I use AutoML with R SDK ?

Thanks.

[2020-04-30 15:10] #289 closed

[2020-04-30 15:52] lucazav opened #334 "How to get Runs from an Experiment"
I'm trying to list all the runs in a given experiment in the following way:

[code]

I'm getting the following output:

I expected a list of runs or something like that. How can i inspect the resulting runs? How can I then get, for example, the first run in `runs`?

[2020-04-30 18:13] diondrapeck commented on #334
Hi Luca,

`get_runs_in_experiment` returns an iterator. Using reticulate, you can either get a list of all runs or get them sequentially.

List of all runs:
`
runs <- get_runs_in_experiment(experiment = exp)
reticulate::iterate(runs)
`

nth run of all runs:
`
runs <- get_runs_in experiment(experiment = exp)
all_runs <- reticulate::iterate(runs)
all_runs[n]
`

Or you could call `reticulate::iter_ne

[2020-04-30 18:15] #334 closed

[2020-04-30 18:16] lucazav commented on #334
Thank you, @diondrapeck . It’d be really useful to add this code as an example in the help of the function

[2020-05-01 00:41] mx-iao commented on #328
Hi @lucazav, we are currently working on a fix for this issue.

[2020-05-01 00:51] sachinparyani commented on #256
@lucazav, we've fixed the bug and you should be able to verify it with the latest version of azureml-dataprep (1.4.6). Please let us know if you're still facing the issue. If that's the case the issue can be reopened.

[2020-05-01 00:58] mx-iao commented on #256
@lucazav you can either upgrade the azureml-dataprep with `pip install --upgrade azureml-dataprep` or do a clean install of the python SDK with `azuremlsdk::install_azureml()` with `remove_existing_env = True`. Thanks @sachinparyani for the fix!

[2020-05-01 00:59] #256 closed

[2020-05-01 10:21] lucazav commented on #256
Thank you all, guys!

[2020-05-01 16:29] spontello opened #336 "Cannot convert tabular dataset to dataframe"
**Describe the bug**
I am able to successfully create a tabular dataset using the Azure ML R SDK, but I cannot convert the tabular dataset to a dataframe.  I am running RStudio using an Azure ML Workspace compute instance.

azuremlsdk version:
![image](https://user-images.githubusercontent.com/11871091/80821719-8327cb80-8b96-11ea-9a07-f35d449345b9.png)

Error Message:
![image](https://user-images.

[2020-05-01 17:02] mx-iao commented on #336
Hi @spontello, can you install the R SDK from GitHub with `remotes::install_github('https://github.com/Azure/azureml-sdk-for-r')`. We recently checked in a bug fix regarding this issue. Thanks!

[2020-05-01 19:45] spontello commented on #336
I ran the update:
remotes::install_github('https://github.com/Azure/azureml-sdk-for-r')

I also did a re-install of the interface:
azuremlsdk::install_azureml(envname = 'r-reticulate',remove_existing_env = TRUE)

I am now able to create a dataframe!

Thanks!
Steve

[2020-05-01 19:45] #336 closed

[2020-05-05 19:01] mx-iao commented on #332
Hi @morganvill,
We do not have native R support for AutoML, since the implementation of the AutoML capabilities is closely tied to Python. One option you can try is to use Auto ML & export the models to ONNX format;   ONNX has an [R API](https://onnx.ai/onnx-r/) you can use for inference with the models.

[2020-05-08 12:58] realAngryAnalytics commented on #330
I have had the same issue and even with interactive login I am not successful. Note that this is also a problem in the Python SDK. I had to resort to using service principal authentication.

https://azure.github.io/azureml-sdk-for-r/reference/service_principal_authentication.html

[2020-05-08 13:41] realAngryAnalytics opened #339 "load_dataset_into_data_frame() - The provided path is not valid"
`df <- load_dataset_into_data_frame(testdataset)`
 Error in py_call_impl(callable, dots$args, dots$keywords) :
  DatasetExecutionError: The provided path is not valid or the files could not be accessed.(No files were found using path provided. Please make sure the path you've specified is correct, files exist and can be accessed.)|session_id=014b71c7-1a82-4def-beef-9036b1fdaba3

**To Reproduce**
1

[2020-05-12 00:50] #274 closed

[2020-05-13 20:29] heemanshusuri commented on #339
Hi,

Could you describe how you created a dataset in UI? The general path of the dataset should UI/<date>/test.csv.

[2020-05-13 23:10] mx-iao commented on #329
@lucazav this issue should be addressed now. Please reopen if you continue to face this issue.

[2020-05-13 23:10] #329 closed

[2020-05-14 14:31] lucazav opened #345 "Can't read data from Azure SQL Database on-premises"
I'm trying to read some data from an Azure SQL Database using my on-premises R engine.
I'm using the most recent version of the R SDK and I installed the Python SDK 1.5.0 too.
Here the code:

[code]

I'm getting the following error:

Right now I'm facing an issue with the Compute Instance: it can't start. I can't create a new one neither. Could the _create_tabular_dataset_from_sql_query( )_ error

[2020-05-15 08:23] lucazav opened #347 "azureml-dataprep[pandas] not updated"
I'm trying to read some data from an Azure SQL Database on the Compute Instance.
I'm using the most recent version of the R SDK and I installed the Python SDK 1.5.0 too.
Here the code:

[code]

I get the following error:

After run this code:

`reticulate::py_install("azureml-dataprep[pandas]", envname = "r-reticulate", pip = TRUE)`

I can get the data into `df`, but there are some errors during t

[2020-05-18 17:39] realAngryAnalytics commented on #339
Dataset was created in the user experience (UI) at https://ml.azure.com ... I did not create via a container or file share in the storage account.

[2020-05-20 19:18] mx-iao commented on #345
What version of azureml-dataprep do you have?

[2020-05-20 19:19] mx-iao commented on #347
[code]
Specify `remove_existing_env = TRUE`. That should delete your existing env and do a clean install

[2020-05-20 19:21] mx-iao commented on #345
Closing, let's track at #347

[2020-05-20 19:21] #345 closed

[2020-05-20 19:21] #332 closed

[2020-05-20 20:25] mx-iao commented on #297
Closing, please reopen if needed.

[2020-05-20 20:25] #297 closed

[2020-05-20 20:25] mx-iao commented on #248
Closing now that #320 has been merged.

[2020-05-20 20:25] #248 closed

[2020-05-20 20:26] mx-iao commented on #306
Closing, please reopen if needed.

[2020-05-20 20:26] #306 closed

[2020-05-20 20:43] mx-iao commented on #280
Closing, please reopen if needed.

[2020-05-20 20:43] #280 closed

[2020-05-20 23:06] mx-iao commented on #339
@sachinparyani have you seen this issue before?

[2020-05-21 11:16] realAngryAnalytics commented on #339
@mx-iao, my apologies. I have stepped through the process of creating the dataset through the UI and the new dataset works. In reviewing the original dataset it appears that the csv file had moved locations so the dataset object was indeed pointing to a file that didn't exist. Thanks.

[2020-05-21 11:16] #339 closed

[2020-05-21 13:25] lucazav opened #350 "Error when deploying to AKS and ACI"
I'm trying to deploy my service to AKS in this way:

[code]

My inference script is something like this:

[code]

My web service is not deployed and I'm getting the following error:

I'm using the latest version of the R SDK

---------------------------------

**UPDATE**
I'm getting the same error using also ACI

[2020-05-22 09:13] jon-nagra opened #351 "load_dataset_into_data_frame() generates an error"
I have replicated the consume piece of code from `python `in `R`. However, when using `load_dataset_into_data_frame() `  I run into an error:

I use the same steps as in python.
python piece (it works):
[code]

R piece:

[code]

I would expect the last command to provide a `data.frame` as dataset is of class `azureml.data.tabular_dataset.TabularDataset`

[2020-05-26 14:29] krenova commented on #351
I've having issues with many of the datasets functions as well. For example say `ds` is my dataset, then
[code]
gives me the above error.

[2020-05-28 12:14] atulupov commented on #351
I have the same issue with R dataset, see code
`
library(azuremlsdk)
ws <- load_workspace_from_config()
ds_acsanalytics <- get_dataset_by_name(ws, "AllSkills", version = "latest")

df_acsanalytics <- load_dataset_into_data_frame(ds_acsanalytics)
`
then getting an error:
`

Error in py_get_attr_impl(x, name, silent) :
  AttributeError: 'TabularDataset' object has no attribute 'to_pandas_data_frame'

[2020-06-01 05:00] krenova commented on #351
hi @atulupov, not really sure whats going on but I suspect that there is a delay updating the R wrappers with respect to the changes in the python library. For your case, it appears that the following command shoudl work:
[code]

[2020-06-01 07:06] atulupov commented on #351
hi @krenova I've tried this earlier and I've got another error:
`DatasetExecutionError: Could not import pandas`
after getting this error, I've tried to reinstall pandas with pyarrow but it doesn't help

[2020-06-01 07:10] atulupov commented on #351
I'm guess that R sdk should reflect all latest changes in the python library
maybe you have some roadmap of updates?
right now I see a lot of non working functions in the latest version ((

[2020-06-01 07:45] krenova commented on #351
@atulupov, i've no idea too. I was about to give up on azuremlsdk until i found the above solution.

btw, it appears that you have some issues with the pandas library from python. you might want to try updating your python packages in your r-reticulate environment. (I assume that you have already setup the r-reticulate environment in conda)

If your environment has been setup, then go either to cm

[2020-06-01 09:30] jon-nagra commented on #351
I have been able to make it work by installing pandas in reticulate and running the piece of code @krenova suggested :
[code]
`load_dataset_into_data_frame()` returns the same error.

When trying:
[code]
I was getting the following error:

Thank you both for your suggestions, at least now I have a workaround.

[2020-06-01 09:46] krenova commented on #351
@jon-nagra , great stuff. I think yours is a better solution as it directly installs the required package into the same environment that the python your R calls sits on.

Just for others interest sake, 'r-reticulate' is the name of the conda environment my python sits on, as given by the azuremlsdk tutorial. if the environment your python sits on has a different name, then you have to change the e

[2020-06-01 11:08] atulupov commented on #351
thanks a lot for your advises

[2020-06-03 07:57] lucazav commented on #350
I've just tried now to deploy a web service on ACI, and I'm getting this error:

[2020-06-05 17:31] AlbertoAlmuinha commented on #140
Is there a plan to introduce Pipelines from the R SDK?

It would be a great feature, really important.

Thank you!

[2020-06-11 11:05] heinsuoleo commented on #329
Version 1.7.0 of the azureml SDK doesn't have RScriptStep.

[2020-06-12 09:29] lucazav opened #352 "inference_config() should check if the inference file exists"
`inference_config()` should check if the `source_directory`/`entry_script` inference file exists before starting the model deployment. Sometimes you relize you used a wrong name only after the deployment run fails.

[2020-06-17 15:32] am-firnas commented on #319
same issue also for me here when using Python SDK
`Creating..........................................................................................................................
FailedProvisioning operation finished, operation "Failed"
---------------------------------------------------------------------------
ComputeTargetException                    Traceback (most recent call last)
<ipython

[2020-06-24 01:05] mx-iao commented on #351
@jon-nagra The initial bug
`Error in py_get_attr_impl(x, name, silent): AttributeError: 'TabularDataset' object has no attribute 'to_pandas_data_frame'
Traceback:` has been fixed since the last CRAN release, so if you install the SDK from GitHub you should no longer get this issue.

As for the pyarrow/pandas conflict issue, the best workaround is the one above to install `azureml-dataprep[pandas]`

[2020-06-24 01:06] mx-iao commented on #350
@lucazav have you resolved the issues you were seeing?

[2020-06-24 08:04] jon-nagra commented on #351
@mx-iao I updated the packages with the dev version and `load_dataset_into_data_frame()` works.
However, the `estimator` function breaks in the `r_environment` piece when including CRAN packages (I don't know if it is a desired design change, shall I file a bug on this?)
I run the data load piece of the code in an experiment run on a compute cluster.
To avoid issues is it better to stick to `datas

[2020-06-24 08:57] lucazav commented on #350
@mx-iao yes. The problem was due to an artifact in the registered model that was listed in the GUI, but was not into the blob storage. I shared this with the product group and I think now the issue is under analysis.

[2020-06-24 08:57] #350 closed

[2020-06-24 20:29] mx-iao commented on #351
@jon-nagra, you can just stick with `dataset$to_pandas_dataframe()` for now; it's the same thing. @jon-nagra what is the issue you are seeing with estimator?

[2020-06-25 01:57] jon-nagra commented on #351
@mx-iao in the `r_environment ` function this loop fails:

[code]

`package ` is a character and, hence, it doesn't have a name. For instance my `cran_packages` in the estimator call look like   `cran_packages = c("seasonal", "here")`
In the CRAN version, `r_environment ` seems to use a different approach to load the packages.
I'm not sure if it is a design choice and things like the package versi

[2020-06-29 16:36] SunnyOswal opened #354 "ModuleNotFoundError: No module named 'conda' while installing azureml sdk for R."
**Describe the bug**
Due to existing issues with "Cran", tried Installation from Github , but it results in conda module not found error.
r-reticulate version 1.12

Creating environment:  r-reticulate
Traceback (most recent call last):
  File "/opt/miniconda/bin/conda", line 7, in <module>
    from conda.cli import main
ModuleNotFoundError: No module named 'conda'
Error: Error 1 occurred creating

[2020-06-30 05:19] SunnyOswal commented on #354
My Bad. Figured it out.  Below builds fine:

[code]

[2020-06-30 05:19] #354 closed

[2020-07-17 00:52] yowgwowang opened #358 "Cannot set R environment use r_version in r_enviroment"
**Describe the bug**
Cannot set R environment in r_environment.

**To Reproduce**
pkg1 <- cran_package("tsibble")
pkg2 <- cran_package("fable")
pkg3 <- cran_package("tidyverse")
pkg4 <- cran_package("lubridate")
pkg5 <- cran_package("imputeTS")
pkg6 <- cran_package("fabletools")
pkg7 <- cran_package("robfilter")
pkg8 <- cran_package("vctrs")
pkg9 <- cran_package("robfilter")
pkg10 <- cran_package(

[2020-07-17 17:16] jakeatmsft commented on #327
I'm trying to use input dataset in my R training on remote cluster.  When passing named data set as input,  I can see the input in the AML Studio portal when looking at the run, but I am not seeing input data sets when printing **run$input_datasets** from within the R script.  Is this a related issue?

[2020-07-17 20:24] mx-iao commented on #358
`r_version` is limited to the latest version available on conda (which is what we use for system-managed environments) which is 3.6.0. If you want a later version like 4.0.2 you will have to create and build your own custom Docker image (which you can then specify to the `custom_docker_image` parameter of `r_environment()`.

[2020-07-17 20:42] yowgwowang commented on #358
Thanks for the answer!

[2020-07-17 21:45] mx-iao commented on #327
@jakeatmsft if you specify an input file dataset in mount or download mode, the expected behavior if you call `get_input_dataset_from_run("my-dataset")` or the equivalent

[code]
is to get the mount or download path. However this is not the case currently due to the above bug. (If you call the above code the only thing you will get back is `"DatasetConsumptionConfig:my-dataset"` which is not usefu

[2020-07-20 09:20] lucazav commented on #329
Hi @mx-iao, hi @heemanshusuri,

I run the same code again, but I got the same error.

I also tried to point to a custom docker image as following:

[code]

but I got the following error:
![image](https://user-images.githubusercontent.com/6104437/87921344-b766a600-ca7a-11ea-84cb-1af0071671c6.png)

even if that image is [available on Docker Hub](https://hub.docker.com/r/lucazav/ts-clustering-img/tag

[2020-07-20 16:58] #358 closed

[2020-07-20 17:56] jakeatmsft opened #359 "RScriptStep run_config not behaving as expected"
**Describe the bug**
When specifying pip packages as Conda Dependencies in the RunConfig, the dependencies are never installed.  I have tried both user_managed dependencies and auto_configured_environment and it seems the default environment is always used.
Requirement for my R Script is azureml-dataprep[fuse,pandas] to connect to Azureml dataset.
Raw JSON of log shows environment definition is pa

[2020-07-20 18:47] jakeatmsft opened #360 "tzdata missing from r-base image"
**Describe the bug**
When running readr::read_csv error is thrown when parsing datatime fields.  Error is "no Olson database found", which corresponds to missing tzdata library on server.

**To Reproduce**
Install cran package "tidyverse"
run following R script:
   library(tidyverse)
   default_locale()

**Expected behavior**
No error

[2020-07-20 19:26] jakeatmsft commented on #359
Issue looks like the RScriptStep, overwrites or fails to take definition of run_config passed.  I was able to modify the step after it had been defined and it seems to be working:

step1 = RScriptStep(...)
  # set runconfig values after step creation
step1._runconfig.environment.python.user_managed_dependencies = False

[2020-07-20 19:30] #359 closed

[2020-07-20 22:54] mx-iao commented on #329
@lucazav can you do this:
[code]

[2020-07-20 22:59] mx-iao commented on #329
@heinsuoleo RScriptStep was added since v 1.0.65. Try upgrading to latest azureml-sdk (1.10.0) if you're having issues

[2020-07-21 00:35] mx-iao commented on #360
You will have to create a custom image. Here is a related GitHub issue: https://github.com/Azure/azureml-sdk-for-r/issues/260

[2020-07-21 03:03] jakeatmsft commented on #360
I have been able to fix this issue using custom dockerfile definition.  After creating the RScriptStep:

step._runconfig.environment.docker.base_image = None
step._runconfig.environment.docker.base_dockerfile = r"""
FROM viennaprivate.azurecr.io/r-base:cpu
RUN apt-get update
RUN DEBIAN_FRONTEND="noninteractive" apt-get -y install tzdata
"""

I had to modify the runconfig after creating the RScript

[2020-07-21 03:03] #360 closed

[2020-07-21 03:07] jakeatmsft commented on #327
I can confirm that I can pass data using DataReference from my registered DataStores. Thanks!

ref: https://docs.microsoft.com/en-us/python/api/azureml-core/azureml.data.data_reference.datareference?view=azure-ml-py

[2020-07-21 04:14] #347 closed

[2020-07-21 04:19] #252 closed

[2020-07-21 04:21] mx-iao commented on #360
@jakeatmsft yeah the overwriting is a bug we are currently fixing - you have the correct workaround above.

[2020-07-21 04:23] mx-iao commented on #328
Workaround here:

[code]

[2020-07-21 16:41] harshbangad opened #361 "Error: ModuleNotFoundError: No module named 'azureml'"
error while connecting to our workspace today using load_workspace_from_config() which was working fine until last week,

ws <- load_workspace_from_config()
Error: ModuleNotFoundError: No module named 'azureml'

We are also having issues connecting to the dataset with get_dataset_by_name() or id() as follows-
“Error in .Call(`_reticulate_py_str_impl`, x) : reached elapsed time limit azure ml”

We

[2020-07-22 21:08] jakeatmsft opened #362 "Unable to write to output data location"
**Describe the bug**
I have created an output data reference to pass output data to my next pipeline step.  Unable to write to output location, getting error stating connection cannot be opened.

**To Reproduce**
adr = PipelineData("folder", datastore)
step1 = RScriptStep(name="step1", outputs=[adr], arguments=["--out_folder", adr], ...)

script:
library(azuremlsdk)
library(optparse)

options <- l

[2020-07-23 17:40] jakeatmsft commented on #362
I was able to fix this by using this definition for the pipeline data reference, to have aml upload entire contents of my "cache" folder to the output.  I was able to verify that the files were uploaded by looking at the storage account "azureml" container.

PIpelineData("dname", datastore=ds, output_mode="upload", output_path_on_compute="./cache")

[2020-07-23 17:41] #362 closed

[2020-07-23 22:47] mx-iao commented on #361
If you are on the compute instance, when you get this prompt:
[code]
This is the reticulate package prompting the user if they want to have Miniconda installed (see [GitHub issue](https://github.com/rstudio/reticulate/issues/607)). Since the compute instance already has Anaconda, you should just respond "N" to the prompt. You will receive the message "Installation aborted", which just means that M

[2020-07-23 23:14] #330 closed

[2020-07-23 23:15] mx-iao commented on #317
Dupe of #361

[2020-07-23 23:15] #317 closed

[2020-07-23 23:16] #282 closed

[2020-07-23 23:16] #269 closed

[2020-07-27 13:34] coolkate3738 commented on #284
Hi @mx-iao !
 I am still experiencing same issue even after your tuple recommendation above , I am trying to register a dataset in register_model command: please see my code
`class(holdout_data_test)`

`model <- register_model(ws,
                        model_path = model_path,
                        model_name = "cpm_model",
                        description = "freight cost prediction",

[2020-07-27 13:46] coolkate3738 opened #363 "register_model dataset registration bug"
**Describe the bug**
trying to use datasets option within register_model function in R sdk, it fails for what looks to be an [issue](https://github.com/Azure/azureml-sdk-for-r/issues/284) that was menta to be fixed a little earlier this year, but not fixed yet.
(fyi below runs fine without the datasets functionality )
+bear in mind holdout_data_test class is data.table or data.frame, tried both
**

[2020-07-28 08:33] suko10 opened #364 "Issue in connecting to workspace from Jupyter Notebook using R SDK"
**Describe the bug**
I have trouble in connecting to ML workspace after creating Azure Computer Instance for the first time. I have config file in the same folder. I tried using both load_workspace_from_config() and get_workspace(). I am able to fix this by using RStudio in compute instance

**To Reproduce**

1) Create a new compute instance and then new Jupyter notebook (R Kernel)
2) Place Config

[2020-07-28 17:27] coolkate3738 commented on #364
I have the same issue with Databricks notebooks, I have to open "Drivers log" in databricks to get the code and link from there, as it would not output it to the notebook console, so +1 to this

[2020-07-28 18:53] harshbangad opened #365 "Unable to install xgboost on compute cluster- runs fine on compute instance"
**Describe the bug**

Getting an error while installing xgboost on the compute cluster machine.
When I train my model on the compute instance, the packages install successfully and the model trains successfully as expected.

Now when I am trying to leverage the same using compute cluster, I get an error. Xgboost tries to upgrade the data.table package and then errors out.
I did try to specify old

[2020-07-28 19:02] harshbangad commented on #361
Responding N did the trick. Thanks @mx-iao .

[2020-07-29 15:35] lucazav opened #366 "Strange data type for a dataset variable using 'create_tabular_dataset_from_delimited_files'"
I'm importing the [Kaggle cars dataset](https://www.kaggle.com/CooperUnion/cardataset/data) from an Azure Blob Storage.

[code]

Looking at the inferred data types, I can see a strange list data type for the variable "Engine Fuel Type":

![image](https://user-images.githubusercontent.com/6104437/88820405-93653c00-d1c1-11ea-8e78-01d222eadd9b.png)

I also tried to use the following code:

[code]

Bu

[2020-07-29 17:59] harshbangad commented on #361
Thanks a lot @mx-iao . Passing 'N' worked

[2020-07-29 18:00] harshbangad commented on #361
However, while deploying the aks service, we see an error where the system waits for an input for Install miniconda (Y/N) but we are not sure how to pass that parameter to the kubernetes cluster.
The call to the scoring data works fine when do it on the compute instance.

These are the main parts from the log which led us to that conclusion-
Invoking user's init function\nInvoking user's init func

[2020-07-29 18:26] mx-iao commented on #365
Does it work on the compute instance when data.table gets upgraded?
btw, is there a reason why you are trying to move from working on the compute instance to a remote cluster run?

[2020-07-29 18:45] mx-iao commented on #363
You need to pass in an Azure ML Dataset, not a data.table or data.frame

[2020-07-29 18:52] coolkate3738 commented on #363
Hi,
Thank you, could you elaborate on what azure dataset is? :) or how do you covert a data frame to that format?thank you ,

[2020-07-29 19:17] lucazav commented on #363
Maybe [this link](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets) can help you.

[2020-07-29 19:46] mx-iao commented on #363
Documentation: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets
You can look at this PR for examples of how to use datasets in R: https://github.com/Azure/azureml-sdk-for-r/pull/316

[2020-07-29 21:30] harshbangad commented on #366
I encounter the same issue when i pull in data from Azure SQL database/ csv file from Data Lake. It pulls some of the factor data type as list. I have to unlist them everytime during training as well as scoring and do the conversions within the R script manually for now.

Tried to convert them in dataset within studio but then we cannot load an existing dataset in R Studio within azure as that is

[2020-07-29 22:41] harshbangad commented on #365
Tried to upgrade the packages on compute instance. Training was successful. But failed again on the compute cluster with same error.

The reason we are trying to do so is thinking in terms of long term architecture-

1. Compute Instance- Load libraries and dataset. Create estimator and experiment . Create environment for compute cluster and inference cluster.
2. Compute cluster- Model Training- ca

[2020-07-30 00:28] mx-iao commented on #365
Depending on the resource needs for your training scripts, you can also simply use your compute instance as the "workstation" where you do your model training, since when you go to create a compute instance you can pick the VM size (which enables you to select a more powerful machine for your needs). The benefits of doing this are that you do not have to configure a remote run, wait for the Docker

[2020-07-30 11:14] coolkate3738 opened #367 "invoke_webservice error in R sdk"
**Describe the bug**
Trying to call "invoke_webservice" in my gglasso model results in the following error:

**To Reproduce**
I use matrix data format for the predict function.
I will start by providing my inference config script :
`#' Copyright(c) Microsoft Corporation.
#' Licensed under the MIT license.

library(jsonlite)
library(stats)

init <- function()
{
  model_path <- Sys.getenv("AZUREML_M

[2020-07-30 17:55] harshbangad commented on #365
Thanks @mx-iao . Will try the docker, that was helpful.

In case i trained the model on compute instance and have a saved model .rds file and want to score on that using AKS, will that work without docker?
While creating the AKS cluster, when i pass the same packages for scoring machine environment, wont we get the same error?

When we call a scoring function script in the inference configuration,

[2020-07-30 23:45] mx-iao commented on #367
Maybe you also have to explicitly load the library for the model itself in your scoring script: `library(gglasso)` https://stackoverflow.com/questions/38623624/usemethodpredict-no-applicable-method-for-predict-applied-to-an-object-o

[2020-07-31 00:05] mx-iao commented on #365
1. Resource issue - related topic [here](https://social.technet.microsoft.com/Forums/en-US/5760c135-6d29-41bb-a47c-e9ecbce59710/deploy-to-kubernetes-service-not-possible?forum=AzureMachineLearningService) and [doc on managing quota](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-manage-quotas)
2. Yes, AKS deployments are containerized. You will need to package the appropriate depen

[2020-07-31 00:18] harshbangad commented on #365
Thanks @mx-iao . That was super helpful. Will try to build docker image for AKS as it does not like passing the packages through r-env and fails for AKS as well.

For point 3 and 4, lets say i have a data factory pipeline where I call a table from Azure SQL database. Now I want to pass that table as data frame to the script. So I should call that table in data factory pipeline and pass it to the w

[2020-07-31 13:24] coolkate3738 commented on #367
@mx-iao thank you for your response,
Unfortunately it did not work , still see the following error :

[2020-07-31 17:05] mx-iao commented on #367
If there are any other packages your model depends on you will need to include those too (and make sure they are also in the inference environment) https://github.com/tidymodels/parsnip/issues/249

[2020-07-31 17:37] #210 closed

[2020-08-03 11:29] coolkate3738 commented on #367
@mx-iao  thank you so much, you are a star, I completely missed that, what a silly error, it works now that I included all the libraries in the inference script . Thank you again 👍

[2020-08-04 18:42] #367 closed

[2020-08-04 18:45] mx-iao commented on #365
@harshbangad Yes that sounds right.
Btw, @lucazav wrote this article on creating custom Docker images that may be helpful for you: https://medium.com/microsoftazure/how-to-create-custom-docker-base-images-for-azure-machine-learning-environments-86aa4c7bc7b9

[2020-08-04 18:46] #363 closed

[2020-08-04 21:33] harshbangad commented on #366
@lucazav - Did you find a workaround for this? This is creating issue for me during scoring as well.

[2020-08-05 12:16] coolkate3738 opened #370 "Authentication details are not displayed when loading the workspace"
**Describe the bug**
When using R SDK with Databricks or with jupyter notebooks (through aml notebooks) when loading the workspace the authentication details are not displayed. The only workaround for me at the moment was using Databricks Clusters drivers log, there I can see the code for logging it. Please see screenshots below

**Expected behavior**
I expect the authentication details to be disp

[2020-08-05 12:21] coolkate3738 opened #371 "How can I use futile.logger or any other logger in R sdk and where would the logging be displayed saved in that case?"
**Describe the bug**
How can I use futile.logger or any other logger in R sdk and where would the logging be displayed saved in that case?

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear way of logging along the modelling script , preferably using futile.logger package

**Screenshots**
TO give you an example of how I used logging in R prior to using AML :
`trycatc

[2020-08-05 17:22] harshbangad commented on #365
Thanks @mx-iao . That was super helpful .Great article @lucazav .

I have a question in general about architecture for inference cluster. Can we have multiple docker images on same inference cluster?
Lets say i have 20 different models. I want to run them on same inference cluster, as its easy for automation and maintenance.
But if a project needs different versions of R package, how do we manage

[2020-08-10 13:08] jay2017-git commented on #350
@lucazav Please can you share the step you used to resolve it. I'm having this exact same issue when deploying my ML model on ACI. @mx-iao, I'll be glad if you can help look into it as well.

[2020-08-11 10:20] jay2017-git opened #372 "ModuleNotFoundError: No module named 'main' - Error deploying ML model using ACI"
I'm trying to deploy my ML model on ACI using this code.
`
from azureml.core.webservice import AciWebservice, Webservice
from azureml.exceptions import WebserviceException

deployment_config = AciWebservice.deploy_configuration(cpu_cores=2, memory_gb=6)
aci_service_name = 'ml-model'

try:
service = Webservice(ws, name=aci_service_name)
if service:
service.delete()
except WebserviceException as e:

[2020-08-11 10:26] jay2017-git opened #373 "ModuleNotFoundError: No module named 'main' - Error deploying ML model using ACI"
I'm trying to deploy my ML model on ACI using this code.
`
from azureml.core.webservice import AciWebservice, Webservice
from azureml.exceptions import WebserviceException

deployment_config = AciWebservice.deploy_configuration(cpu_cores=2, memory_gb=6)
aci_service_name = 'ml-model'

try:
service = Webservice(ws, name=aci_service_name)
if service:
service.delete()
except WebserviceException as e:

[2020-08-11 16:27] Omi1906 opened #374 "Segmentation fault error on calling get_workspace() in scoring function"
Hi,

We are running into Fatal Python error : Segmentation fault on calling get_workspace() from init() scoring function and was hoping you could help us identify the problem.

**Implementation:** We have a trained model deployed to AKS cluster. We invoke the web service to call scoring function. For our scoring, we want to read data from datastore in azure ml workspace.

**Issue:** When trying to

[2020-08-11 23:55] mx-iao commented on #365
@harshbangad No you cannot have multiple Docker image per deployed web service - one web service maps to one deployment image and scoring file. However if you have a large enough inference cluster (assuming you mean AKS) you can probably deploy multiple web services to that cluster if there is adequate resources

[2020-08-12 00:02] mx-iao commented on #374
@Omi1906 I'm not sure I understand why you are trying to read data from your datastore from within the scoring script. In general the expectation for deployed web services is that the user will hit the endpoint of your web service with some input, and then the input will be processed by the scoring function you've written in score.R.

You can refer to the [Deploying models](https://azure.github.io

[2020-08-12 00:06] mx-iao commented on #373
@jay2017-git can you run [`get_webservice_logs()` ](https://azure.github.io/azureml-sdk-for-r/reference/get_webservice_logs.html) to get the logs from the deployment?

[2020-08-12 00:07] mx-iao commented on #372
Closing as dupe.

[2020-08-12 00:07] #372 closed

[2020-08-12 00:23] Omi1906 commented on #374
@mx-iao Thank you for such a quick response and explanation. I had checked issue #365 and still had some questions though. Can you help me understand the reason why connecting to a datastore from within a scoring function is not a feasible architectural solution?

Let me explain our scenario. We work with SQL data which is in tabular format. We do our data extractions and transformations using Azu

[2020-08-12 00:35] mx-iao commented on #374
If you want to access the data directly in the scoring script (which also means the data you can predict on is fixed to that datastore), is there any reason you are deploying a web service? What is the overall scenario you are trying to execute? The reason I'm asking is that our best practices for deployments is that the model gets deployed with a predict function, and anyone with access to the en

[2020-08-12 01:16] jay2017-git commented on #373
@

@mx-iao  I did run it. That's how I got the logs above.

[2020-08-12 01:53] jay2017-git commented on #373
@ this is the log from the init container

`

WARNING:__main__:no config found, using configfile

INFO:azure.storage.common.storageclient:Client-Request-ID=25c3f802-dbe0-11ea-b0d8-d2d7e850c89f Outgoing request: Method=GET, Path=/azureml/LocalUpload/2f799dc4-b21f-4890-9f5d-e4636ee504e8/init_config.json, Query={'snapshot': None, 'timeout': None}, Headers={'x-ms-lease-id': None, 'If-Modified-Since':

[2020-08-12 01:53] jay2017-git commented on #373
@mx-iao

This is the log from the init container

WARNING:__main__:no config found, using configfile

INFO:azure.storage.common.storageclient:Client-Request-ID=25c3f802-dbe0-11ea-b0d8-d2d7e850c89f Outgoing request: Method=GET, Path=/azureml/LocalUpload/2f799dc4-b21f-4890-9f5d-e4636ee504e8/init_config.json, Query={'snapshot': None, 'timeout': None}, Headers={'x-ms-lease-id': None, 'If-Modified-Sinc

[2020-08-12 01:56] jay2017-git commented on #373
@mx-iao  This is the log from the init container

WARNING:__main__:no config found, using configfile

INFO:azure.storage.common.storageclient:Client-Request-ID=25c3f802-dbe0-11ea-b0d8-d2d7e850c89f Outgoing request: Method=GET, Path=/azureml/LocalUpload/2f799dc4-b21f-4890-9f5d-e4636ee504e8/init_config.json, Query={'snapshot': None, 'timeout': None}, Headers={'x-ms-lease-id': None, 'If-Modified-Sinc

[2020-08-12 17:30] Omi1906 commented on #374
The data in the scoring script will change even though the data store is same. Data store is a connection to Data Lake FileSystem. I can connect to any file in that data store. So every time we do scoring new data would be used for prediction. That enables anyone with access to the endpoint to invoke it with input that fits.

The reason to use webservice is so that we can use REST API to do the pr

[2020-08-13 16:53] coolkate3738 opened #375 "Error while running the estimator setup"
**Describe the bug**
A clear and concise description of what the bug is.
When specifying the estimator in R studio in AML I get the following error that has not happened before when I ran the same in Databricks
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to h

[2020-08-13 17:48] mx-iao commented on #375
What version of the R SDK are you using? You will need a more recent version of the Python SDK - the Python SDK version pinned to with the release on CRAN is old and doesn't have the required changes. You can install the R SDK from GitHub for your RStudio as that one is pinned a more recent version of the Python SDK.

[2020-08-13 17:50] mx-iao commented on #373
Can you share your score.R file (you can redact any private info)

[2020-08-13 17:50] #365 closed

[2020-08-13 18:17] coolkate3738 commented on #375
My version is 0.10.0, how can I specify version or upgrade it?

[2020-08-13 18:30] mx-iao commented on #375
Can you run the following in your terminal:
`conda activate r-reticulate`
`pip list`
And see what version of the azureml-sdk (the python sdk) is installed?

Also, one thing - for specify cran packages you'll have to wrap it with the [ `cran_package()`](https://azure.github.io/azureml-sdk-for-r/reference/cran_package.html)

[2020-08-14 09:09] coolkate3738 commented on #375
Hi @mx-iao ,
I made it work, but when I tried making a suggested change for cran packages that you offered below I get the following error now :
![image](https://user-images.githubusercontent.com/7931437/90233423-0e5f6100-de16-11ea-9908-e7e87f5b190c.png)
 where previously this worked :
`r_env <- r_environment(name = "cpm_env",
                      cran_packages = c("gglasso","futile.logger","json

[2020-08-14 13:15] coolkate3738 opened #376 "Failing When running R sdk experiment with databricks compute"
**Describe the bug**
When I choose to run an R sdk estimator with Databricks attached compute it returns the error that this type of compute  is unsupported

**To Reproduce**
`est <- estimator(source_directory = ".",
                 entry_script = "modelling_aggregated_aml_tests.r",
                 script_params = list("--data_folder" = ds$path(target_path),

[2020-08-14 13:28] #371 closed

[2020-08-14 13:28] coolkate3738 commented on #371
sorted

[2020-08-14 18:02] mx-iao commented on #375
I don't think you are using an up to date version of the SDK from GitHub then.
Can you try reinstalling from GitHub.

[2020-08-14 18:24] mx-iao commented on #376
We don't support running on attached Databricks compute right now. Is there a reason you can't run the training code directly in Databricks rather than making it a remote run?

[2020-08-15 16:43] residentx10 opened #378 "Microsoft/Revo R Support?"
**Is your feature request related to a problem? Please describe.**
No problems

**Describe the solution you'd like**
I'd like a solution like this "Azureml SDK for Microsoft R"

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
No additional images

[2020-08-17 23:59] harshbangad commented on #365
@mx-iao I was able to follow the link to create a docker image.
https://medium.com/microsoftazure/how-to-create-custom-docker-base-images-for-azure-machine-learning-environments-86aa4c7bc7b9

I am getting error while publishing the image to azure container registry.
I followed the steps on https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-custom-docker-image#get-container-regis

[2020-08-18 00:06] mx-iao commented on #365
You need to navigate into the directory that contains the Dockerfile (or set the working directory accordingly)

[2020-08-18 00:15] harshbangad commented on #365
Thanks @mx-iao . Keep getting these access denied errors even after running as Administrator.

![image](https://user-images.githubusercontent.com/61249009/90456163-0b31d280-e0ad-11ea-8353-fb10211e099b.png)
![image](https://user-images.githubusercontent.com/61249009/90456192-21d82980-e0ad-11ea-81ad-7f4fe272b622.png)

[2020-08-18 10:27] coolkate3738 commented on #375
Hi @mx-iao  I have used the following commands to install the SDK :
`nstall.packages("remotes")`
remotes::install_github('https://github.com/Azure/azureml-sdk-for-r', build_vignettes = TRUE)
azuremlsdk::install_azureml()`

I then ran the lines you mentioned above :
`conda activate r-reticulate
pip list`

The sdk version I have :

Then by trying to run this again  ;
`r_env <- r_environment(name = "

[2020-08-18 10:32] coolkate3738 commented on #376
Hi @mx-iao ,

Thank you for your response,
I can run the code in databricks , but the business ask was to use AML in order to "encapsulate" our existing model to expose it as an API for the ability to call the model in order to make predictions based on the input. I hope that answers your question?
Also, another reason that I am trying to make this work with databricks compute is because it would

[2020-08-18 22:28] mx-iao commented on #375
Please run `azuremlsdk::install_azureml(remove_existing_env = TRUE)` This should remove and install the python SDK  again

[2020-08-18 22:29] mx-iao commented on #364
Closing as dupe, will track with #370

[2020-08-18 22:29] #364 closed

[2020-08-18 22:35] mx-iao commented on #328
With the newest Python SDK [release](https://docs.microsoft.com/en-us/python/api/azureml-pipeline-steps/azureml.pipeline.steps.r_script_step.rscriptstep?view=azure-ml-py) (1.12.0), here is the recommended way to configure an RScriptStep with a custom Docker image:

[code]

[2020-08-18 22:40] #328 closed

[2020-08-18 22:42] mx-iao commented on #359
@jakeatmsft
This issue should be fixed with the latest release of the Python SDK (1.12.0). RunConfiguration object passed into the `runconfig` parameter of RScriptStep should no longer get overwritten. See #328 for an example.

[2020-08-18 22:44] mx-iao commented on #329
With latest version of the Python SDK (1.12.0), below is an example of the recommended way to specify CRAN & GitHub packages for your RScriptStep:

[code]

For an example of using custom Docker image, see #328

[2020-08-18 23:10] mx-iao commented on #365
@harshbangad unfortunately this looks like a potential issue with Windows and not the R SDK. Another option you can do is use a compute instance to run the ACR commands to build the image. (you will have to upload your Dockerfile to your compute instance) - I usually just open a terminal via Jupyter to run my CLI commands

[2020-08-19 00:00] harshbangad commented on #365
Thanks @mx-iao . Tried your suggestion on Jupyter terminal of the SSH enabled compute instance.
Got an error on az acr login --name zvosbx01dsml3592187b
Looks like this an ongoing issue -
https://github.com/Azure/azure-cli/issues/13927

Have you encountered this or have any workaround suggestions?

The command failed with an unexpected error. Here is the traceback:

APIVersion 2019-12-01-preview i

[2020-08-19 00:07] mx-iao commented on #365
Please track it with the issue you linked then as this appears to be a compute instance issue Azure/azure-cli#13927. You can try uninstalling and reinstalling the Azure CLI on the compute instance https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-azure-cli

Another workaround for now could be to use Docker Hub.

[2020-08-19 00:37] mx-iao commented on #361
Miniconda prompt is now suppressed for new compute instances that are created.

[2020-08-19 00:37] #361 closed

[2020-08-19 00:38] mx-iao commented on #294
Not able to repro - please reopen if still an issue.

[2020-08-19 00:38] #294 closed

[2020-08-19 03:30] mx-iao commented on #378
This is not affiliated with Microsoft RevoScaleR nor do we have any official integrations. If you have questions for that product you can leave feedback there: https://docs.microsoft.com/en-us/sql/machine-learning/r/ref-r-revoscaler?view=sql-server-ver15

[2020-08-19 03:30] #378 closed

[2020-08-19 11:15] lucazav commented on #374
Hi @Omi1906 ,

did you try to:
1. Get your data from Data Lake directly into Azure Data Factory
2. Transform it in JSON format using [JSON Data Transformation](https://techcommunity.microsoft.com/t5/azure-data-factory/adf-adds-hierarchical-amp-json-data-transformations-to-mapping/ba-p/880516)
3. Call the web service passing your JSON string

In this way you'll have a "standard" web service that ou

[2020-08-19 18:09] mx-iao commented on #376
Can you consider 1) training your model in Databricks and then 2) deploy your model with the AML R SDK? You will just need the model files for deployment

[2020-08-20 11:42] coolkate3738 commented on #375
thank you @mx-iao , this has been resolved with your last suggestion, I shall close the ticket

[2020-08-20 11:42] #375 closed

[2020-08-20 11:58] coolkate3738 commented on #376
@mx-iao  ,
thank you for your response.
So let me make sure I get this correctly.
1. No need to run experiment and train with AML
2. Just save model file .rda , .rds after trained in Databricks
3. Ingest and register that model with AML

If that is correct then I guess my question would be, how can I make the writing out and ingesting the model file as seamless as possible? Because we would usuall

[2020-08-21 02:41] mx-iao commented on #376
You can download the model to your local machine; and there is a `register_model()` https://azure.github.io/azureml-sdk-for-r/reference/register_model.html function you can use to register models from a local path

[2020-08-21 05:21] harshbangad commented on #365
@mx-iao Is it necessary to build and publish the docker image on the container?

I am unable to use the azure CLI as it errors on both options- Terminal in compute insatnce with acr login and locally with access denied like i mentioned.

Can i use it if i am successfully able to push my docker image on azure container registry?

I used these commands and pushed the image on container, i also creat

[2020-08-21 17:38] krenova opened #380 "adding CRAN packages to compute cluster experiment causes error"
**Main Issue**
Have been trying do use the "xgboost" package to do predictive modelling on the compute-cluster but find myself facing the following fatal error messages

[code]

In AML platform, I also encountered a notification indicating failure is due to
![image](https://user-images.githubusercontent.com/20237486/90916754-3f422600-e414-11ea-99e1-89395de129e2.png)

In the azureml-logs, i noticed

[2020-08-24 15:50] mx-iao commented on #365
@harshbangad is your image on a private ACR? If so you will also need to provide the password details. You can see an example in the vignette in this pending PR: https://github.com/Azure/azureml-sdk-for-r/pull/379/files

Go to the section called "Create an Azure ML Environment" and the subsection "For ACR"

You can optionally use Docker Hub instead of ACR. If your Docker repo is public, all you wi

[2020-08-24 15:51] mx-iao commented on #365
Btw, if you are using premium ACR you may hit a separate issue 'Unable to get image details: Authentication failed for Container Registry: aicenter.azurecr.io.' (from another customer: " we notice that is possible to authenticate using the token when we are in the Compute Instance, and locally but the experiment can't authenticate using the token in Compute Cluster, and we only run successfully wh

[2020-08-24 16:24] mx-iao commented on #380
Hi @krenova this is recent issue we've just seen due to an upgrade to pip. A workaround is to pin pip to version 20.1.1.
You should be able to do so by updating your env like so:
[code]
Or you could  create your own image, see the vignette here (this is a bit more involved):
- https://github.com/Azure/azureml-sdk-for-r/pull/379

[2020-08-24 22:10] Omi1906 commented on #374
Thank you for your suggestions! We did think of using the Data Flow task but it feels like an unnecessary step when we can connect to a Datastore within our scripts.
We have a potential solution to use Docker file while deploying the webservice. I haven't tried it out yet, but will let you know.

[2020-08-24 23:48] mx-iao opened #381 "Times get converted to numpy datetime64 instead of Python datetime objects for TabularDataset filtering methods"
For the `filter_dataset_before_time` method,
[code]
the following error gets thrown:
[code]

Looks possibly related to this [issue](https://github.com/rstudio/reticulate/issues/198), where POSIXct time is getting automatically converted by reticulate to numpy `datetim64` objects rather than Python `datetime` objects, which is what is expected by the underlying Python SDK filter methods for Tabular

[2020-08-25 21:37] #376 closed

[2020-08-26 08:57] krenova commented on #380
@mx-iao
I tried `env$python$conda_dependencies$add_conda_package('pip==20.1.1')` but unfortunately the same errors surfaced.

I tried uninstalling and installing/updating the `ruamel` package but it didnt change anything.
[code]
Could I have missed something?

Thanks so much for pointing to the vignette. Will be looking to set up a docker image with the compute instance but expecting the approvals

[2020-08-26 14:16] coolkate3738 commented on #376
Hi @mx-iao ,
Thank you for your response, sorry I was away on holiday so it took me a while to get back to you,
Unfortunately I think local machine is not an option here as we deploy everything using cloud + datalake for storage (if needed) as this is a specific model that will be used by the business.

[2020-08-26 18:15] mx-iao commented on #380
@krenova Are you using the SDK installed from GitHub? If not can you first upgrade to that: https://azure.github.io/azureml-sdk-for-r/articles/installation.html#install-the-azuremlsdk-r-package

[2020-08-26 18:19] #374 closed

[2020-08-26 20:44] diondrapeck commented on #381
The underlying Python function is expected a datetime.datetime object whereas reticulate converts R date-time objects to either datetime.date or np.datetime64. To bypass this, you can create a native Python datetime.datetime object with reticulate and pass that to `filter_dataset_before_time`.

Example, for the timestamp 2020-26-08 01:41:30:

[code]

[2020-08-26 20:44] #381 closed

[2020-08-26 23:36] revodavid opened #386 "Add function to test for existence for webservice"
For CI/CD setups, it a standard pattern would be:
* If a webservice doesn't exist, deploy it with `deploy_model`
* If the model has already been deployed and the webservice already exists, update it with `update_aci_webservice`

However, there is no function to detect the existence of a webservice. The workaround is messy:
[code]

It would be easier to write CI/CD flows to update webservices if ei

[2020-08-27 05:09] anoviceds commented on #351
I am trying to load data from azure sql dataset and I am getting below error using skd 1.10 (I am allowing all to my azure sql for test purposes)

rror in py_call_impl(callable, dots$args, dots$keywords) :
  DatasetExecutionError: in operation 'to_pandas_dataframe' for Dataset(id='f5aec110-67ee-443b-aa64-282cfaf8592c', name='None', version=None)
Error Code: ScriptExecution.DatabaseConnection.Unexp

[2020-08-27 20:40] oliverbeagley opened #388 "`upload_files_to_datastore()` fails if only one file is uploaded"
**Describe the bug**
`upload_files_to_datastore()` fails if a length 1 character vector is used.

This is likely due to reticulate converting length 1 vectors to scalars rather than to a length 1 list.

**To Reproduce**
[code]

Using a list instead works eg

[code]

**Expected behavior**

For the function to work with single files.

Wrapping the files argument in `as.list()` before internally call

[2020-08-27 21:15] diondrapeck commented on #388
Thank you, @oliverbeagley! We'll make a work item to make the documentation and behavior consistent with each other.

[2020-08-27 21:41] mx-iao commented on #386
First option makes sense - we'll look into catching the error and returning NULL in `get_webservice`

[2020-09-09 23:37] rodrigofp-cit commented on #373
Same issue here using the python sdk

[2020-09-10 04:44] jay2017-git opened #390 "SSLError: HTTPSConnectionPool when registering ML model on Azure"
Hi Everyone,

Please I have my Databricks instance in a VNET. I’m trying to deploy my Machine learning model using the Azure ML workspace on Azure Container Instance (ACI).

I’m able to create an ML workspace. I get an SSLERROR when I try to register the Model using Model.register().

Using this code -

`from azureml.core import Workspace
from azureml.core.model import Model
import azureml.core
fr

[2020-09-18 07:13] hermandr commented on #380
Hi mx-iao,

@krenova and I working as a team.
I followed your instructions.

Encountered an error when R package data.table is installed and compiled from source.

The command '/bin/sh -c R -e "library(checkpoint); snapshot_date <- tail(checkpoint::getValidSnapshots(), n = 1); setSnapshot(snapshot_date); install.packages(c('reticulate', 'remotes', 'e1071', 'optparse')); library(remotes); remotes::

[2020-09-23 18:11] jakeatmsft opened #392 "All or nothing data load flag"
**Is your feature request related to a problem? Please describe.**
When loading a large dataset to dataframe using azuremlsdk to a local machine, the sdk will generate an out-of-memory exception if dataset is too large to read into memory.  Despite the error, the dataframe will still be loaded with a partial load without any indication that the data is incomplete.  Subsequent notebook code steps c

[2020-09-24 18:52] mx-iao commented on #380
Hi @hermandr the above error looks like the installation is failing for data.table because it has a system dependency. System dependencies cannot be installed through the `cran_packages` convenience parameter, you will have to create a custom docker image for your environment (see the vignette I linked previously)

[2020-09-25 03:38] hermandr commented on #380
OK Noted thanks for your info

[2020-09-30 18:40] diondrapeck commented on #392
@jakeatmsft - thanks for the feedback! The implementation of the dataset loading and memory handling is actually done by the main Python SDK; R SDK is simply providing a wrapper, so could you please report your feedback on [our main site](https://ml.azure.com/selectWorkspace?)? Click the smiley face on the top right hand side to open the feedback box.

Thanks!

[2020-09-30 18:40] #392 closed

[2020-10-07 19:36] jakeatmsft opened #394 "MemoryError when loading large number of datasets"
**Describe the bug**
My training file is loading multiple datasets into memory using "create_tabular_dataset_from_parquet_files" function then using rm(dataset);gc(); to release the dataset.  Error thrown even after datasets are removed and garbage collection invoked.

driver_log:
Error in py_call_impl(callable, dots$args, dots$keywords) :
  MemoryError: Engine process terminated. This is most lik

[2020-10-15 02:53] buswrecker opened #395 "Interactive Metric Logging not writing back to AzureML Experiments (not sure if this is a bug / not a feature)"
## Bug/Problem Description
I'm trying to log metrics interactively; as i'm writing code interactively on a local machine; ie not within an estimator or a submit_experiment with local compute. I understand that this can be done if wrapped within an estimator; but that's not what i'm looking for; there are instances, where i don't want to wrap my interactive code as an estimator, but i definitely wo

[2020-10-15 18:00] nwstephens opened #396 "Nested prefix path created when using download_from_datastore"
I want to download a specific directory from my datastore into my target_path. When I set the `datastore`, `target_path` and `prefix` arguments in `download_from_datastore`, I expect the contents of that specific directory to land in the target path. Instead, the prefix path lands in my target path as nested subdirectories. I then have to manually move the files up the hierarchy and into my target

[2020-10-20 13:52] lucazav opened #397 "get_workspace() is prompting for interactive authentication even if an 'auth' object is passed"
I'm trying to get the reference to a ML workspace from a compute instance.
I'm using the following code

[code]

I'm prompted for my authentication two times and at the end I'm getting the following error:

It's an unexpected behavior, as I used to get the _ws_ reference in this way few months ago.
Any help, please?

Thanks

[2020-10-20 22:21] buswrecker commented on #395
The RunID is required in the `log_metric_to_run` function

The correct code for this to run

[code]

This should be documented in `?start_logging_run`

[code]

[2020-10-21 14:00] hermandr opened #398 "Replicating the Dockerfile produces errors"
**Describe the bug**
Replicating the docker image from this article
[How to create custom docker base images for azure machine learning environments](https://medium.com/microsoftazure/how-to-create-custom-docker-base-images-for-azure-machine-learning-environments-86aa4c7bc7b9) produces errors.

[code]

No error during docker build.

Based on the accidents example on the Vignettes, when I ran R cod

[2020-10-21 16:46] diondrapeck commented on #398
I'm tagging @lucazav since he authored this article.

[2020-10-21 17:05] lucazav commented on #398
Hi @hermandr ,

that article was written few months ago. It could be that the current R SDK version is not compatible with the old Python SDK version 1.10.0. According to [this page](https://pypi.org/project/azureml-sdk/), the latest Python SDK version is the 1.16.0 one.
Try to replace your Dockerfile's last row with the following one:

`RUN R -e "azuremlsdk::install_azureml(version = '1.16.0', re

[2020-10-21 17:16] lucazav commented on #398
@hermandr as the Dockerfile you are testing doesn't have any particular package to be installed, I suppose your code works fine with the default Docker image. Isn't it?

[2020-10-22 02:30] hermandr commented on #398
log_metric does not work.
Please try to create v4 and re-build your image with latest versions of azureml and test to see if you get same result as mine.
I believe when I use "FROM..." it just uses the pre-built image of your v3 build.
But when I build with same Dockerfile, it failed (log_metric) and probably due to changes in the azureml sdk since your build date.

Herman

[2020-10-22 02:32] hermandr commented on #398
@lucazav Sorry I missed this post.
Let me try with sdk v1.16.0.
Let me post the update on the result here.

Herman

[2020-10-22 14:40] hermandr commented on #398
Hi @lucazav,

I can confirm that with v1.16.0 error still occurs
[code]

[2020-10-22 15:11] lucazav commented on #398
Hi @hermandr,

if so, it'd be a bug of the latest release. The R SDK PM told me there are a bunch of bugs in the 1.10.0 version released on CRAN to be fixed.

@diondrapeck could you investigate on this bug, please? I think it doesn't depend on the custom Docker image, as it simply install the latest versions of both the SDKs.

Thank you.

[2020-10-22 15:15] lucazav commented on #398
@hermandr could you please install the latest version of SDKs on your Compute Instance using RStudio in this way:

[code]

and then try to run your code using the default Docker image?
If it still fails, it's a confirmation that the bug is in the SDKs.

Thank you.

[2020-10-22 18:41] hermandr commented on #398
1. I created a new docker image from this Dockerfile
[code]
The docker image is at [hermantansg/r-sdk-docker-img:default](https://hub.docker.com/layers/hermantansg/r-sdk-docker-img/default/images/sha256-e41ae70542ee175913d1c3061474f3d7660f9cc08b7b56b9a466dc8a6a935ec6?context=repo)

2. Created a new compute instance
[code]

3. In compute instance RStudio check default versions of azureml sdk
![{F1D

[2020-10-22 19:14] hermandr commented on #398
@lucavaz Dockerfile:
[code]

From 20_image_build_log.txt of default Docker
[code]

[2020-10-23 11:38] hermandr commented on #398
UPDATE:
I created `code/azureml-environment-setup` folder in the compute instance.
I extracted the 3 files required by this docker file from the built image in the compute cluster and copied the files to the outputs folder in the train script.
[code]
![{7685A907-4715-4FAD-A48C-A1F44995F957}](https://user-images.githubusercontent.com/10177608/96959044-bb024100-1531-11eb-8c79-33abd092b7b2.png)

I ra

[2020-10-23 11:47] hermandr commented on #380
Solved the xgboost installation,
In the dockerfile need to have:
RUN apt-get install -y pkg-config
RUN R -e "install.packages(install.packages('xgboost',version='0.90.0.1', repos='https://cloud.r-project.org'))"

pkg-config takes care of make compile arguments for packages.

For creating custom docker instances, look at this post [Replicating the Dockerfile produces errors](https://github.com/Azur

[2020-10-23 12:00] hermandr opened #399 "ggplot in the estimator code that runs in cluster cannot find fonts"
**Describe the bug**
Any ggplot that runs in the cluster instance, cannot show text fonts.  Only rectangular glyphs shows up.
Attached is a minimal example.

**To Reproduce**
Submit code:
[code]

Estimator code:
[code]

**Expected behavior**
plot.png image in outputs folder should show as:
![plot](https://user-images.githubusercontent.com/10177608/97000666-a2ae1880-1569-11eb-8ee3-f4e1d333fe5e.png)

[2020-10-23 14:06] lucazav commented on #399
Hi @hermandr,

as you can find in the [Specify conda dependencies](https://azure.github.io/azureml-sdk-for-r/articles/building-custom-docker-images.html#specify-conda-dependencies) section of the official "_Building custom Docker images for training and deployment_" guide, it'd be enough to install the _mscorefonts_ package in your working custom Docker image.
So you have to add this line to your

[2020-10-23 14:29] jakeatmsft commented on #366
I am having the same issue right now with loading from parquet dataset to dataframe, one of the columns in the dataframe is pulled as list, when it's expected as Date format.

[2020-10-23 15:44] jakeatmsft commented on #366
I have also noticed that the bug does not occur consistently across environments, in my compute instance I am able to load the dataframe with the correct datatypes, but when submitting to compute cluster the data type is loaded incorrectly.

[2020-10-24 08:03] hermandr commented on #399
Thank you got it to work thanks

[2020-10-26 11:07] buswrecker opened #400 "register_model within an estimator does not include experiment/runID in Model Repository"
**Describe the bug**
When registering a model within an estimator run, the `register_model` function does not include the current runID or experiment in the model repository.

![image](https://user-images.githubusercontent.com/717900/97164386-2704d380-17d6-11eb-9ef9-e123c807c29d.png)

**To Reproduce**
Inside `train.R`

[code]

`train.R` is called within an estimator as follows

[code]

**Expected

[2020-10-26 11:29] buswrecker opened #401 "Related to issue 400 - register_model_from_run fails within an estimator"
**Describe the bug**
`register_model_from_run` is unable to find the `model_path` when a file and path exists. An error occurs, the model is not registered and it terminates.

**To Reproduce**
Inside `train_withRunID.R`

[code]

The estimator function
[code]

70_Driver_log.txt
[code]

**Expected behavior**
A model should be registered

**Screenshots**
If applicable, add screenshots to help explain

[2020-10-26 13:57] diondrapeck commented on #380
Thanks for sharing your solution, @hermandr!

[2020-10-26 13:58] diondrapeck commented on #398
Thanks for sharing your solution, @hermandr!

[2020-10-26 13:58] #398 closed

[2020-11-02 02:01] buswrecker opened #402 "Unable to Download Files from File Dataset - Error: C stack usage 160275245380 is too close to the limit"
**Describe the bug**
Unable to download files to compute instance using `download_from_file_dataset`

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/717900/97822898-67e77580-1d0b-11eb-9981-137a8f264f05.png)
![image](https://user-images.githubusercontent.com/717900/97822910-75046480-1d0b-11eb-8aef-4cff2f6b9e77.png)

**Additional context**
Add any other context about the

[2020-11-04 09:10] lehmus commented on #361
I am experiencing the same issue in Azure ML Web Service. In my Dockerfile, I have installed Azure ML SDK like so:
`RUN R -e 'remotes::install_github("https://github.com/Azure/azureml-sdk-for-r")'
RUN R -e 'azuremlsdk::install_azureml(version = "${AZUREML_SDK_VERSION}", remove_existing_env = TRUE)'`

In my entry script, I load the package with `library(azuremlsdk)` and get the error "No non-system

[2020-11-05 10:09] nihil0 commented on #402
I have the same error, but in this case, my datastore is an Azure SQL DB. I am creating a tabular dataset from that datastore and trying to read that into a data frame. Interestingly, this works fine on Python, and I think the R package is calling the same python code. Right now, I am using a workaround where I download the files locally and read them into R data frames.

[code]

I am trying to un

[2020-11-05 20:54] buswrecker commented on #402
I have use `load_dataset_into_data_frame()` where the source data is on SQL DB and is of `TabularDataset`; works fine up to 10k rows and about 200 columns; i could imagine this could be problematic with larger datasets and potentially hitting C Stack errors.

[2020-11-06 13:05] lehmus opened #403 "Using R SDK in Azure ML Web Service container"
What is the recommended way to install Azure ML R SDK in a Docker container and deploy as a Web Service? I am trying to deploy an Azure ML Web Service Endpoint in an Azure Container Instance. I have made a custom Docker image and registered it as an Environment in Azure ML Workspace. I have a minimal inference script as follows:
[code]
The deployment is successful and the container starts up witho

[2020-11-09 10:41] Arincon opened #404 "Registering model throws error: "Error : C stack usage 644134250452 is too close to the limit""
**Describe the bug**
When trying to register a model in Azure ML within an Azure Databricks Notebook, it immediately fails and gives the following error: "Error : C stack usage  644134250452 is too close to the limit".
This error is also thrown when I try to register a tabular dataset.

**To Reproduce**
Steps to reproduce the behavior:

1. Create cluster with Databricks Runtime 7.3 LTS version.
2.

[2020-11-09 18:58] adiazcan commented on #404
Hi!
We think there is a bug in the R SDK for Azure ML because we changed the code to python and it run well with the rest of our training code in R

![image](https://user-images.githubusercontent.com/6652046/98584204-d3aa7f00-22c5-11eb-872f-e16318ba4c7a.png)

[2020-11-10 20:23] michalmar opened #405 "Unable to download File Dataset"
I am unable to download File dataset to Compute Instance FS - I getting "Kernel died" error.

**To Reproduce**
I am getting registered dataset and then trying to download
ds <- get_dataset_by_name(ws, name='data')
download_from_file_dataset(dataset = ds, overwrite = FALSE)

**Expected behavior**
file would be downloaded to the FS

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2020-11-12 18:01] zac-at-incycle commented on #402
I am encountering the same error when trying to load a dataset on a compute cluster.

When run on an ML compute instance via RStudio, the code below runs fine.

When executed as part of a pipeline in an `RScriptStep` on ML compute cluster *with the same VM sku* as the RStudio compute instance, it throws the C stack error:

[code]

[2020-11-12 18:27] zac-at-incycle commented on #402
Also:  Attempting to use `$to_csv_files()$download(...)` as mentioned by @nikhilp0 is not working for me.  It caused same 'C stack' error for me when run on compute instance in RStudio.

[2020-11-12 20:27] zac-at-incycle commented on #402
For anyone else blocked by the same issue, I was able to work around it by downloading files directly from the `Datasource` and not using a `Dataset` at all.

Instead of
[code]
I used
[code]

[2020-11-12 21:39] zac-at-incycle commented on #402
Also seeing the same error when attempting to use [`get_model()`](https://azure.github.io/azureml-sdk-for-r/reference/get_model.html) method.

[2020-11-16 18:49] zac-at-incycle commented on #402
I'm now seeing the same error after deploying previously working R script and `RScriptStep` into a new workspace.  Same code and cluster VM SKU, but in new workspace consistently throws 'C stack' error.

[2020-11-26 05:18] #399 closed

[2020-11-30 14:53] jakeatmsft commented on #402
Blocked by same issue, when mounting a file dataset.

[2020-11-30 22:05] jakeatmsft commented on #402
I noticed print out the Cstack info and it seems ok.  I am unable to download from datastore (workaround above) or dataset at this point is there another workaround, this is blocking a client CI/CD pipeline.

`
print(Cstack_info())
download_from_datastore(datastore='x', path='y', prefix='z', overwrite=TRUE)
`
output:
size   current   direction   eval_depth
7969177   88448   1   11
Error: C stack u

[2020-12-02 13:32] pourmoayed commented on #402
I get also the same C stack error when trying to get data from the workspace Dataset using the sql query:

[2020-12-02 14:38] zac-at-incycle commented on #402
For anyone else blocked by this issue, I discovered that the difference between the two workspaces mentioned above was that one used a datasource that accessed blob storage via an account key and the other used a datasource that accessed blob storage with a SAS token.

Attempting to use a datasource with a SAS key from R SDK triggered the 'C stack' error.  Using the datasource with an account key

[2020-12-02 16:20] michalmar opened #406 "Cannot download output files from Run"
**Describe the bug**
I cannot download files (model) generated by training experiment - it is in `outputs` folder. On Jupyter I am getting "Kernel died" error and no details.

**To Reproduce**
Train model within an Experiment and upload some data (model) to output's folder.
I am basically following tutorial from vignette: https://azure.github.io/azureml-sdk-for-r/articles/train-and-deploy-first-mo

[2020-12-10 01:37] revodavid commented on #406
I am having a related issue. This command, which worked as of August, now produces an error:

[code]

`download_file_from_run` fails with a similar error

[2020-12-10 01:50] revodavid opened #407 "download_files_from_run throws C stack error"
**Describe the bug**
`download_files_from_run` and `download_file_from_run` throw an "C stack usage" error from R. This is indicative of an unchecked recursion loop.

**To Reproduce**
[code]

**Expected behavior**
The download completes without error.

**Workaround**
Updating to the latest version of reticulate from github resolved this issue for me.

[2020-12-10 01:58] revodavid commented on #406
Updating to the latest version of reticulate from github may resolve this for you: https://github.com/rstudio/reticulate

[2020-12-10 02:00] revodavid commented on #405
Installing the latest version of reticulate from github may resolve this issue for you.

[2020-12-10 22:11] jpe316 commented on #402
Tabular datasets support in the R SDK and RScriptStep are **experimental** and we will not be triaging issues for them at this time - please do not take a dependency on them.

We willfollow up on the file datasets issue with recommended approach.

[2020-12-13 20:12] michalmar commented on #406
@revodavid thanks for hint - it hasn't resolved my issue though: I still have the same error.

btw my env is:
[code]

[2020-12-18 23:24] revodavid commented on #406
I'm not 100% sure, but it looks like you are using the CRAN version of reticulate. The version on GitHub is 1.18-9000.

[2021-01-12 23:48] diondrapeck commented on #406
To install the latest github version, use this: `remotes::install_github('https://github.com/Azure/azureml-sdk-for-r')`

[2021-01-18 18:01] robert4os opened #408 "pip version cannot be set to 20.1.1 to mitigate ruamel issue as described in trouble shooting guide"
**Describe the bug**

Hi,

in an attempt to mitigate the 'No module named ruamel' issue, I am trying to specify the pip version to 20.1.1

I do this following the trouble shooting guide at:
https://azure.github.io/azureml-sdk-for-r/articles/troubleshooting.html#modulenotfounderror-no-module-named-ruamel

[code]
The run information shows the correct use of this environment and its correct setup....

[2021-01-19 09:53] robert4os commented on #408
Workaround:

I have noticed that the environment created by r_environment sets the 'baseDockerfile' to:

"FROM mcr.microsoft.com/azureml/base:openmpi3.1.2-ubuntu16.04\nRUN conda install -c r -y r-essentials=3.6.0 r-reticulate rpy2 r-remotes r-e1071 r-optparse && conda clean -ay && pip install --no-cache-dir azureml-defaults\nENV TAR=\"/bin/tar\"\nRUN R -e \"remotes::install_cran('azuremlsdk', repo

[2021-01-19 15:57] diondrapeck commented on #408
@robert4os Thank you so much for finding and sharing this workaround. We will update the troubleshooting guide to include your solution as well.

cc: @mx-iao

[2021-01-19 15:57] #408 closed

[2021-01-19 16:19] diondrapeck commented on #407
Thanks for providing this workaround, @revodavid! I'll update the troubleshooting guide to include it.

[2021-01-19 16:24] diondrapeck commented on #405
@michalmar - did updating reticulate solve your issue?

[2021-01-19 17:28] #407 closed

[2021-01-19 18:59] diondrapeck commented on #404
@adiazcan - could you try updating to the latest github version of reticulate?
`remotes::install_github('https://github.com/rstudio/reticulate')`

[2021-01-19 21:36] michalmar commented on #405
@diondrapeck No, it didn't, I tried with `install.packages("reticulate")` but the error is the same.

[2021-01-21 17:18] adfi commented on #406
I have the same issue, similar environment as @michalmar.

@diondrapeck are you suggesting we update the azureml package? the suggestion from @revodavid was to update reticulate (which I have done). I can update azureml locally but what about the environment running the training code?

[2021-01-21 17:35] adfi opened #409 "Run fails when trying to build base Docker image"
**Describe the bug**
When running the code from [train-on-local](https://github.com/Azure/azureml-sdk-for-r/tree/master/samples/training/train-on-local) and from the [tutorial vignette](https://azure.github.io/azureml-sdk-for-r/articles/train-and-deploy-first-model.html) the process repeatedly fails at the point of building the base Docker image.

I have tried with and without specifying the R env

[2021-01-21 20:41] adfi commented on #409
I forgot to mention that I specified the R environment in two ways:

1. By creating an almost blank r environment:
` env <- r_environment("name")`

2. By creating a custom docker image as per the vignette:
`env <- r_environment("your-env-name", custom_docker_image = "<repository_name>.azurecr.io/<image_name>:<tag>")`

The first method resulted in the same error but the second method did not and re

[2021-01-21 23:10] dareneiri commented on #409
I am running into the same error, which makes me feel a bit better because this was working just a month ago when I ran the example code.

Specifically, I receive the same output error:
[code]

I have no tried to create a custom Docker image.

[2021-01-26 11:01] adfi commented on #406
FYI, I tried using a compute cluster instead of 'local' as the compute target and that did result in an outputs folder from which I could download model files.

[2021-01-26 18:14] diondrapeck commented on #409
@adfi and @dareneiri - This was the result of a regression. It has been fixed.

[2021-01-26 18:14] #409 closed

[2021-01-26 18:32] diondrapeck commented on #406
@adfi - my apologies! I misunderstood your question. The latest github version of reticulate would of course be the same command as above with "https://github.com/rstudio/reticulate" substituted for the azure ml sdk url.

I'm glad that you were able to get an outputs folder by switched to compute cluster.

[2021-02-01 15:42] nihil0 commented on #404
This worked for me. I was trying to call `azuremlsdk` code inside the `mcr.microsoft.com/azureml/base:openmpi3.1.2-ubuntu18.04` docker image. I don't get the C stack error anymore.

[2021-02-02 04:29] samuda2019 opened #410 "How to use arguments with RScriptStep"
**Describe the bug**
Followed through the documentation https://docs.microsoft.com/en-us/python/api/azureml-pipeline-steps/azureml.pipeline.steps.r_script_step.rscriptstep?view=azure-ml-py to use RScriptStep

**To Reproduce**
step = RScriptStep(script_name='test.r',
                   name='test-step',
                   arguments=["--input", "testvalue"],
                   compute_target='cpu-cl

[2021-02-02 21:02] vidarsumo opened #411 "Question regarding training script"
I'm trying to train my first model on Azure ML. I'm getting an error when running the following code

[code]
Then when I run this code here:
[code]
I get `character(0)` and thus unable to `run read_rds(file.path(opt$data_folder, "data_prepared_list.rds"))`

I'm following the code from the vignettes so I'm kind of lost why this is not working. Any ideas?

[2021-02-03 11:22] #411 closed

[2021-02-12 16:13] virvirlopez commented on #149
Hi Ninghu, I have the same problem, can you explain better what did you do? Thanks!

[2021-02-22 15:49] #406 closed

[2021-02-22 15:57] diondrapeck commented on #410
Hi @samuda2019 - no, RScriptStep is not similar to ScriptRunConfig. RScriptStep is part of the azureml.pipelines.steps module while ScriptRunConfig is part of the azureml.core module. RScriptStep is used to create one step of an experiment pipeline while ScriptRunConfig is used to create a single-standalone experiment.

Here's a link to the documentation for RScriptStep:
https://docs.microsoft.com

[2021-02-22 15:57] #410 closed

[2021-02-22 16:06] #404 closed

[2021-02-25 12:44] CakmakMuhammet opened #412 "Error when adding dataset to the model on Azure ML"
When I try to add dataset to the model I got error like .

UserScriptException: UserScriptException:
	Message: Invalid dataset of type <class 'str'> passed, must be of type Dataset or DatasetSnapshot

my codes are
Model.register(workspace=run.experiment.workspace,
               model_path = model_file,
               model_name = 'randomforestregressor_model',
               model_framework=Model

[2021-02-25 12:48] #412 closed

[2021-03-10 23:53] Omi1906 opened #413 "doParallel doesn't work with Azure Compute cluster"
**Describe the bug**
We want to use the R package - doParallel in order to use most of the cores on a node of Azure Compute cluster. However when we start an experiment by submitting the job on compute cluster, the experiment fails with the following message:

Failed to create bus connection: No such file or directory
Error in serialize(data, node$con) : error writing to connection
Calls: train ..

[2021-03-16 18:34] seed-of-apricot opened #414 "`deploy_model` does not complete when the environment has a CRAN/GitHub package"
**Describe the bug**
`deploy_model` does not complete when the environment has a CRAN/GitHub package.

**To Reproduce**
[code]

**Expected behavior**
The model is deployed.

**Log**
[code]

**Additional context**
`azuremlsdk (R): 1.11.0`
`azureml-sdk (Python): 1.24.0`

I suppose something went wrong with the `-c r` channel in `conda install`, probably?

[2021-03-31 13:46] mmarzillo opened #415 "Authentication not Working"
I have a customer who is trying to authenticate with get_workspace(). He authenticates twice, but then receives an AuthenticationException error. See below screenshot.

![image](https://user-images.githubusercontent.com/6752474/113154324-89d31e80-91fd-11eb-9968-7a880da454ee.png)

[2021-04-09 15:50] mmarzillo commented on #415
So I had the the customer spin up a new compute instance and we ran into the below error but the corresponding solution worked and he was able to authenticate. I was not able to reproduce this authentication error on my own.
https://github.com/Azure/azureml-sdk-for-r/issues/217

[2021-04-09 15:50] #415 closed

[2021-05-06 22:57] quangvanbui opened #416 "Multiple input data with invoke_webservice()"
`invoke_webservice()` calls a single input data, which is passed into the scoring/entry script for predictions. If multiple input data are required for predictions, then the inputs need to be joined into a single data input "externally". Before input data can be joined together, some may need to be processed individually.

Is it possible for `invoke_webservice()` to call multiple input data source

[2021-05-11 13:15] csetzkorn commented on #397
I am facing a similar issues. As far as I can see, azureml-sdk-for-r is unusable.

[2021-05-17 13:26] csetzkorn opened #417 "Aci Deployment failed with exception: Error in entry script"
My use case is to deploy a locally trained model - perfectly valid use case AFIK. For reproducibility I trained this simple model:

`
library(datasets)
library(caret)

setwd("C:/Data")

index <- createDataPartition(iris$Species, p=0.80, list=FALSE)
testset <- iris[-index,]
trainset <- iris[index,]

model = train(Species ~ .,
                  data=trainset,
                  method="rpart",

[2021-05-17 13:54] csetzkorn commented on #417
I have the suspicion that, as I run  R version 4.0.5 (2021-03-31) locally and my model is fitted using this version, Azure ML crumbles as predefine images only support R 3.6?!

[2021-05-17 14:04] csetzkorn commented on #417
I also tried to fudge the entry script (which I believe can be on my dev machine?). this should be independent of the version of R and the model:

`library(jsonlite)

init <- function()
{
  model_path <- Sys.getenv("AZUREML_MODEL_DIR")
  #model <- readRDS(file.path(model_path, "model.rds"))
  message("iris classfication model loaded")

  function(data)
  {
    #vars <- as.data.frame(fromJSON(data)

[2021-05-17 14:19] swanderz opened #418 "AMLCompute Supported R version"
[This doc here](https://azure.github.io/azureml-sdk-for-r/reference/r_environment.html) says the latest version of R supported, is `3.6.0` is this true? @ninghu @sdgilley.

My gut tells me this is a typo...

https://github.com/Azure/azureml-sdk-for-r/blob/67921696803007e06564c429c4d27d93092cefee/man/r_environment.Rd#L108

[2021-05-17 14:22] swanderz commented on #417
@csetzkorn can you triple backtick your code blocks like this (without the terminal slash I needed to make a code block of code block? the `r` at the end of the first line will do R syntax highlighting.

[code]

[2021-05-17 15:11] csetzkorn commented on #417
@swanderz - thanks. I think I did this now? I tried to use the code UI button. Sorry do not raise many issues in Github usually.

[2021-05-20 11:53] csetzkorn commented on #417
Today I took some time to use the pre-trained model you use in this sample:

https://github.com/Azure/azureml-sdk-for-r/tree/master/samples/deployment/deploy-to-aci

I renamed it model_ms.rds and saved it locally in C:/Data/model_ms.rds reflected in the slightly adapted code below. Firstly the deployment of the web service takes 30+ minutes. Not sure if this is normal.

Secondly, even this failed

[2021-05-25 14:17] hermandr commented on #217
Hi,

After updating to latest 1.10.0 version, I am getting this error and can't fix it.
I have installed in the r-reticulate folder
[code]

[2021-06-05 02:49] hermandr opened #419 "Deprecated warning when running r_environment()"
**Describe the bug**
Now with azuremlsdk v1.10.0, calling r_environment() generates a deprecated warning.

Looking at the code
[environment.R](https://github.com/Azure/azureml-sdk-for-r/blob/67921696803007e06564c429c4d27d93092cefee/R/environment.R)

Lines 105-113
[code]

`env$docker$enabled <- TRUE` is deprecated

**To Reproduce**
[code]

[code]

**Expected behavior**
No warning

**Screenshots**
I